body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

nav ul, nav li {
  list-style: none; }

nav ul {
  margin: 0; }

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block; }

.main-inner {
  width: calc(100% - 32px);
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  padding-left: 16px;
  padding-right: 16px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.component {
  position: relative; }
  .component .anchor {
    position: absolute;
    top: -80px; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.header-fix {
  margin-top: 81px; }

error.theme_error {
  width: 100%;
  display: block;
  background-color: red;
  color: white;
  text-align: left;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999; }

error.theme_error::before {
  content: "Theme returned the following non-fatal errors:"; }

error.theme_error::after {
  content: "To disable error tracking, disable Debug mode"; }

.component {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FFF; }

#component_0 {
  margin-top: 0px;
  padding-top: 0; }

.numbers,
.full-image,
.newsletter,
.blog-filters,
.green-line {
  padding: 0; }

* {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  word-wrap: break-word; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

.underline {
  text-decoration: underline; }

.bold {
  font-weight: 400; }

a.overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; }

header {
  background-color: #FFF;
  height: 40px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #E0E1E2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: calc(100% - 40px); }
  header .logo {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    background-color: #fff;
    height: 100%;
    display: inline;
    width: 100px; }
    header .logo .inner-logo {
      position: relative;
      display: inline-block;
      height: 100%; }
    header .logo img {
      background-color: #000;
      width: 20%;
      height: 100%; }
  header nav {
    display: block;
    width: calc(100% - 100px);
    float: right; }
    header nav ul {
      text-transform: uppercase;
      list-style-type: none;
      padding: 0;
      text-align: right; }
      header nav ul li {
        display: inline-block;
        margin-left: 20px; }
        header nav ul li a {
          font-size: 14px;
          font-weight: 600;
          opacity: 0.7; }
      header nav ul li:hover {
        opacity: 0.6;
        cursor: pointer; }

footer {
  background-color: #1f2737;
  color: #FFF;
  padding: 20px 0 40px 0; }
  footer .footer-flex {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    footer .footer-flex .footer-col {
      display: block;
      min-width: 228px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 20px;
      position: relative; }
      footer .footer-flex .footer-col.logo {
        margin-top: 10px; }
        footer .footer-flex .footer-col.logo object {
          max-width: 250px; }
      footer .footer-flex .footer-col h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        color: #FFF; }
      footer .footer-flex .footer-col p {
        color: #FFF;
        font-size: 14px; }
      footer .footer-flex .footer-col .social-media-logos {
        background-color: #1f2737;
        height: 50px;
        width: 110px;
        float: left; }
        footer .footer-flex .footer-col .social-media-logos .social-media-links {
          background-color: #1f2737;
          position: relative;
          display: inline-block; }
          footer .footer-flex .footer-col .social-media-logos .social-media-links:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
          footer .footer-flex .footer-col .social-media-logos .social-media-links:hover {
            opacity: 0.8; }
          footer .footer-flex .footer-col .social-media-logos .social-media-links object {
            height: 40px;
            width: 40px;
            padding: 10px 10px 0 0; }
    @media (max-width: 1170px) {
      footer .footer-flex .small-hide {
        display: none; }
      footer .footer-flex .footer-col {
        padding: 0 20px; } }
  footer object {
    width: 100%;
    height: auto; }
  footer .footer-text-box {
    padding-left: 300px;
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
    background-color: #1f2737;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    footer .footer-text-box .text-1 {
      background-color: #1f2737;
      line-height: 30px;
      height: 100%;
      color: white; }
      footer .footer-text-box .text-1 h1 {
        background-color: #1f2737;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 600;
        color: #FFF; }
      footer .footer-text-box .text-1 p {
        background-color: #1f2737;
        color: #FFF; }
    footer .footer-text-box .text-2 {
      background-color: #1f2737;
      line-height: 30px;
      height: 100%;
      color: white; }
      footer .footer-text-box .text-2 h1 {
        background-color: #1f2737;
        color: #FFF;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 600; }
      footer .footer-text-box .text-2 p {
        background-color: #1f2737;
        padding-bottom: 4px;
        color: #FFF; }

html {
  background-color: #FFF; }

.three-links {
  word-spacing: 10px; }
  .three-links a, .three-links p, .three-links label {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1px solid transparent;
    order: 1px solid transparent;
    border-radius: 50px;
    text-decoration: none;
    padding: 1px 4px 1px 4px;
    background-color: #B6CAE8;
    color: #3f4754;
    font-size: 14px; }

.narrow .main-inner {
  max-width: 945px; }

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(185px, 1fr));
  grid-auto-rows: 426px;
  grid-gap: 6px; }
  .grid .grid-third {
    grid-column: span 2;
    grid-row: span 1; }
  .grid .grid-half {
    grid-column: span 3;
    grid-row: span 1; }
  .grid .grid-full {
    grid-column: span 6;
    grid-row: span 1; }

.button-blue {
  background-color: #3169ce;
  color: white;
  text-transform: uppercase;
  display: inline-block; }
  .button-blue.small {
    padding: 12.5px 28px; }
  .button-blue.large {
    padding: 25px 40px; }

.button-blue:hover,
.button-white:hover {
  opacity: 0.7;
  cursor: pointer; }

.button-white {
  border: 2px solid #3169ce;
  color: #3169ce;
  text-transform: uppercase;
  display: inline-block; }
  .button-white.small {
    padding: 12.5px 28px; }
  .button-white.large {
    padding: 25px 40px; }

.newsletter .small-bar-1 {
  background-color: #C2D2ED;
  padding-top: 35px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .newsletter .small-bar-1 .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1140px; }
    .newsletter .small-bar-1 .content p {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
      background-color: #C2D2ED;
      font-size: 30px;
      color: #3E4855;
      margin: 0; }
    .newsletter .small-bar-1 .content form {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      height: 54px;
      width: 440px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      .newsletter .small-bar-1 .content form input[type=text] {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-size: 20px;
        height: 54px;
        background-color: #C2D2ED;
        padding-left: 40px;
        border: 2px solid #3E4855;
        border-right: none;
        color: #3E4855;
        outline: none; }
        .newsletter .small-bar-1 .content form input[type=text]::-webkit-input-placeholder {
          /* WebKit browsers */
          color: #3E4855; }
        .newsletter .small-bar-1 .content form input[type=text]:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #3E4855; }
        .newsletter .small-bar-1 .content form input[type=text]::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #3E4855; }
        .newsletter .small-bar-1 .content form input[type=text]:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: #3E4855; }
      .newsletter .small-bar-1 .content form input[type=submit] {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 54px;
        font-size: 15px;
        background-color: #3169ce;
        border: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px; }
        .newsletter .small-bar-1 .content form input[type=submit]:hover {
          opacity: 0.6;
          cursor: pointer; }

.numbers .big-bar {
  background-color: #0a1b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 61px 0; }
  .numbers .big-bar .flex {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .numbers .big-bar .flex .big-bar-text {
      background-color: transparent;
      text-align: center;
      min-width: 200px;
      margin-bottom: 15px; }
      .numbers .big-bar .flex .big-bar-text .big-text {
        background-color: transparent;
        font-size: 60px;
        color: #FFF;
        padding-bottom: 10px;
        margin: 0; }
      .numbers .big-bar .flex .big-bar-text .small-text {
        background-color: transparent;
        font-size: 20px;
        color: #FFF;
        margin: 0; }

.featured * {
  margin: 0;
  padding: 0; }

.featured .big-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .featured .big-section .content {
    background-color: #fff;
    height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1140px; }
    .featured .big-section .content .image-big-section {
      -webkit-box-flex: 8.5;
      -ms-flex: 8.5;
      flex: 8.5; }
      .featured .big-section .content .image-big-section img {
        height: 100%;
        width: 100%; }
    .featured .big-section .content .info-box {
      -webkit-box-flex: 6;
      -ms-flex: 6;
      flex: 6;
      margin: 0 0 0 70px; }
      .featured .big-section .content .info-box .ten-things {
        border-bottom: 1px solid #E0E1E2;
        padding-bottom: 40px; }
        .featured .big-section .content .info-box .ten-things .head {
          font-size: 30px;
          font-weight: 600; }
        .featured .big-section .content .info-box .ten-things .date {
          opacity: 0.6;
          padding: 5px 0 20px 0;
          font-weight: 600; }
        .featured .big-section .content .info-box .ten-things .bread {
          opacity: 0.5;
          line-height: 30px;
          font-size: 20px;
          padding-bottom: 20px; }
        .featured .big-section .content .info-box .ten-things a {
          text-transform: uppercase;
          text-decoration: none;
          color: #3169ce;
          font-weight: 700;
          font-size: 14px; }
          .featured .big-section .content .info-box .ten-things a img {
            padding-left: 10px; }
          .featured .big-section .content .info-box .ten-things a:hover {
            opacity: 0.6; }
      .featured .big-section .content .info-box .three-links {
        padding: 25px 0 10px 0;
        padding: 25px 0 10px 0;
        word-spacing: 10px; }
        .featured .big-section .content .info-box .three-links a {
          text-decoration: none;
          color: #3169ce; }
          .featured .big-section .content .info-box .three-links a:hover {
            opacity: 0.7; }

.blog-posts .main-inner .grid {
  grid-auto-flow: dense; }

.blog-filters .filters {
  background-color: #C2D2ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center; }
  .blog-filters .filters .main-inner {
    background-color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1140px; }
    .blog-filters .filters .main-inner p {
      cursor: default;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: transparent;
      font-size: 23px;
      color: #3E4855;
      margin: auto; }
    .blog-filters .filters .main-inner .selectors {
      -webkit-box-flex: 4.3;
      -ms-flex: 4.3;
      flex: 4.3;
      height: 50px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background-color: #C2D2ED; }
      .blog-filters .filters .main-inner .selectors .select-box {
        height: 100%;
        width: 31%;
        border: 1px solid #3E4855;
        display: inline-block; }
        .blog-filters .filters .main-inner .selectors .select-box select {
          background: -webkit-linear-gradient(40deg, transparent 50%, #3E4855 50%), -webkit-linear-gradient(140deg, transparent 50%, #3E4855 50%), -webkit-linear-gradient(left, #C2D2ED, #C2D2ED);
          background: -o-linear-gradient(40deg, transparent 50%, #3E4855 50%), -o-linear-gradient(140deg, transparent 50%, #3E4855 50%), -o-linear-gradient(left, #C2D2ED, #C2D2ED);
          background: linear-gradient(50deg, transparent 50%, #3E4855 50%), linear-gradient(-50deg, transparent 50%, #3E4855 50%), linear-gradient(to right, #C2D2ED, #C2D2ED);
          background-position: calc(100% - 21px) calc(1em + 2px), calc(100% - 16px) calc(1em + 2px), 100% 0;
          background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
          background-repeat: no-repeat;
          background-color: #C2D2ED;
          /* styling and reset */
          line-height: 1.5em;
          padding: 0.5em 3.5em 0.5em 1em;
          /* reset */
          border-radius: 0;
          margin: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          border: none;
          padding: 10px 50px 10px 20px;
          height: 100%;
          width: 100%;
          font-size: 20px;
          color: #3E4855;
          font-weight: 300;
          border-radius: 0;
          outline: none; }

.doer * {
  margin: 0; }

.doer .need {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .doer .need h2 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center; }
  .doer .need .boxes {
    height: 195px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px; }
    .doer .need .boxes .box-1 {
      height: 100%;
      width: 32.9%;
      border: 1px solid #E0E1E2;
      background: url(../images/cog-green.png) no-repeat -25% 150%; }
      .doer .need .boxes .box-1:hover {
        background: #4da953 url(../images/cog-white.png) no-repeat -25% 150%;
        color: white;
        cursor: pointer; }
    .doer .need .boxes .box-2 {
      height: 100%;
      width: 32.9%;
      border: 1px solid #E0E1E2;
      background: url(../images/brain-green.png) no-repeat -12% 120%; }
      .doer .need .boxes .box-2:hover {
        background: #4da953 url(../images/brain-white.png) no-repeat -12% 120%;
        color: white;
        cursor: pointer; }
    .doer .need .boxes .box-3 {
      height: 100%;
      width: 32.9%;
      border: 1px solid #E0E1E2;
      background: url(../images/chat-green.png) no-repeat -20% 90%; }
      .doer .need .boxes .box-3:hover {
        background: #4da953 url(../images/chat-white.png) no-repeat -20% 90%;
        color: white;
        cursor: pointer; }
    .doer .need .boxes .box-1,
    .doer .need .boxes .box-2,
    .doer .need .boxes .box-3 {
      position: relative; }
      .doer .need .boxes .box-1 .texts,
      .doer .need .boxes .box-2 .texts,
      .doer .need .boxes .box-3 .texts {
        padding-left: 40%;
        padding-top: 60px;
        padding-right: 10%;
        background: transparent; }
        .doer .need .boxes .box-1 .texts .texts-1,
        .doer .need .boxes .box-2 .texts .texts-1,
        .doer .need .boxes .box-3 .texts .texts-1 {
          background: transparent;
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 1px;
          margin-bottom: 15px; }
        .doer .need .boxes .box-1 .texts .texts-2,
        .doer .need .boxes .box-2 .texts .texts-2,
        .doer .need .boxes .box-3 .texts .texts-2 {
          background: transparent;
          font-size: 18px;
          letter-spacing: 1px;
          line-height: 25px;
          font-weight: 300; }

.green-line {
  position: relative; }
  .green-line .green-bar {
    width: 1px;
    height: 110px;
    display: block;
    background: #4da953;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99; }

.full-image .full-width {
  width: 100%; }

.video .video-wrapper {
  position: relative;
  padding-bottom: 37%;
  height: 0;
  width: 100%; }
  .video .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.half-grid .half-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; }
  .half-grid .half-grid .span-half {
    grid-column: span 1; }
    .half-grid .half-grid .span-half img {
      width: 100%;
      max-height: 100%; }

.post-grid-item {
  border: 3px solid transparent;
  position: relative; }
  .post-grid-item * {
    margin: 0; }
  .post-grid-item:hover {
    cursor: pointer;
    border: 3px solid #4ca852;
    -webkit-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .post-grid-item .image-container {
    height: 260px;
    border: 1px solid #E0E1E2;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    .post-grid-item .image-container img {
      height: auto;
      width: 100%;
      max-width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .post-grid-item .text-under-image {
    height: 95px;
    padding: 30px 35px 35px 35px;
    border-right: 1px solid #E0E1E2;
    border-bottom: 1px solid #E0E1E2;
    border-left: 1px solid #E0E1E2; }
    .post-grid-item .text-under-image .tui-head {
      font-size: 22px; }
    .post-grid-item .text-under-image .tui-date {
      opacity: 0.7;
      padding: 5px 0 20px 0; }
    .post-grid-item .text-under-image .tui-links {
      word-spacing: 10px; }
      .post-grid-item .text-under-image .tui-links a {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1px solid transparent;
        order: 1px solid transparent;
        border-radius: 50px;
        text-decoration: none;
        padding: 1px 4px 1px 4px;
        background-color: #B6CAE8;
        color: #3f4754;
        font-size: 14px; }

.single-blog-post .meta-info {
  width: 100%; }
  .single-blog-post .meta-info * {
    margin: 0; }
  .single-blog-post .meta-info .head {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px; }
  .single-blog-post .meta-info .date-and-links {
    padding: 30px 0 45px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E0E1E2; }
    .single-blog-post .meta-info .date-and-links .date {
      opacity: 0.6;
      font-weight: 600;
      padding-right: 50px; }
    .single-blog-post .meta-info .date-and-links .three-links {
      padding: 25px 0 10px 0;
      word-spacing: 10px;
      padding: 0; }
      .single-blog-post .meta-info .date-and-links .three-links a {
        text-decoration: none;
        color: #3169ce; }
        .single-blog-post .meta-info .date-and-links .three-links a:hover {
          opacity: 0.7; }

.share-article {
  border-top: 3px solid #E0E1E2; }
  .share-article * {
    margin: 0; }
  .share-article .share-save {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 0 0 0;
    font-size: 20px; }
    .share-article .share-save .share {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .share-article .share-save .share .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .share-article .share-save .share .icons img {
          padding: 15px 15px 0 0; }
          .share-article .share-save .share .icons img:hover {
            opacity: 0.8;
            cursor: pointer; }
    .share-article .share-save .save {
      -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
      flex: 1.2; }
      .share-article .share-save .save .icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .share-article .share-save .save .icons img {
          padding: 15px 20px 0 0; }
          .share-article .share-save .save .icons img:hover {
            opacity: 0.8;
            cursor: pointer; }

.author-section * {
  margin: 0; }

.author-section .profile {
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .author-section .profile .author-img {
    height: 100%;
    width: auto;
    max-width: 40%;
    -o-object-fit: cover;
    object-fit: cover; }
  .author-section .profile .info {
    background-color: #f9fafb;
    width: 100%;
    padding: 50px 35px 20px 35px; }
    .author-section .profile .info .top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: inherit;
      width: 100%;
      padding-bottom: 25px; }
      .author-section .profile .info .top .title-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        background-color: inherit; }
        .author-section .profile .info .top .title-name .title {
          background-color: inherit;
          padding: 0 0 10px 0;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600; }
        .author-section .profile .info .top .title-name .name {
          background-color: inherit;
          font-size: 25px;
          font-weight: 600; }
      .author-section .profile .info .top .images {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background-color: inherit;
        padding-bottom: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .author-section .profile .info .top .images img {
          background-color: inherit; }
          .author-section .profile .info .top .images img:hover {
            opacity: 0.7;
            cursor: pointer; }
    .author-section .profile .info .about {
      background-color: inherit;
      font-size: 17px;
      opacity: 0.4;
      line-height: 30px; }
