@mixin overlapping-text-box ($position) {
    text-align: start;
    height: 175px;
    width: 340px;
    background-color: rgba(255, 255, 255,0);
    position: absolute;
    left: $position;
    top: 120px;
    p {
        margin: 10px 0 0 10px;
        font-size: 20px;
        font-weight: 600;
    }
    ul {
        line-height: 30px;
        list-style: none;
        list-style-position: outside;
        margin: 15px 0;
        padding-left: 15px;
        li {
            color: #777777;
            font-size: 16px;
            font-weight: 400;
            text-indent: 15px;
            &:before {
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 2px solid #ffcc00;
                margin: 0px 8px 0px 0px;
                position: relative;
                content: " ";
            }
        }
    }
}

.main {
    &.lightgrey {
        background-color: #f9fafb;
    }
    .list-123 {
        text-align: center;
        width: none;
        margin: 0 55px 0 55px;
        padding-bottom: 120px;
        .border-top {
            height: 90px;
            width: 50%;
            border-right: 1px solid $green;
            margin-bottom: 50px;
        }
        .t1 {
            margin-top: 0px;
        }
        .t2 {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
            opacity: 0.7;
        }
        
        .boxes {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            .box {
                width: 400px;
                text-align: left;
                position: relative;
                .number {   
                    font-size: 220px;
                    font-weight: 700;
                    font-family: Montserrat;
                    color: #00ac46;
                    margin: 0;
                }
                .text-list-1 {
                    @include overlapping-text-box(60px);
                    background-color: white;
                    height: auto;
                }
                .text-list-2 {
                    @include overlapping-text-box(85px);
                }
                .text-list-3 {
                    @include overlapping-text-box(87px);
                }
            }
        }
       
    }    
}


@media (max-width: 1140px) {
    @mixin overlapping-text-box ($position) {
        text-align: start;
        height: 175px;
        width: 480px;
        background-color: rgba(255, 255, 255,0);
        position: absolute;
        left: $position;
        top: 120px;
        p {
            margin: 10px 0 0 10px;
            font-size: 30px;
            font-weight: 500;
        }
        ul {
            li {
            }
        }
    }

.main {    
    .list-123 {
        margin: auto auto;
        .t2 {
            font-size: 25px;
            font-weight: 500;
            opacity: 0.9;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .boxes {
            flex-direction: column;
            margin-left: 30px;
            .box {
                &:nth-of-type(2) {
                    align-self: flex-end;
                }
            }
        }
    }
}


}




@media (max-width: 600px) {

.main {
    .list-123 {
        height: auto;
        width: 100%;
        .boxes {
            flex-direction: column;
            margin-left: 0;
            .box {
                &:nth-of-type(2) {
                    align-self: flex-start;
                }
            }
        }
    }
}




}