@mixin overlapping-text-box ($position) {
    text-align: start;
    height: 175px;
    width: 340px;
    background-color: rgba(255, 255, 255,0);
    position: absolute;
    left: $position;
    top: 120px;
    p {
        margin: 10px 0 0 10px;
        font-size: 20px;
        font-weight: 600;
    }
    ul {
        margin: 20px 0 0 45px;
        line-height: 30px;
        list-style-image: url(../../images/bullet.png);
        li {
            color: #777777;
            font-size: 16px;
            font-weight: 400;
            text-indent: 15px;
        }
    }
}

.list-123 {
    height: 640px;
    text-align: center;
    width: none;
    margin: 0 55px 0 55px;
    .border-top {
        height: 90px;
        width: 50%;
        border-right: 1px solid $green;
    }
    .t1 {
        margin-top: 50px;
        font-size: 35px;
        font-weight: 300;
    }
    .t2 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 600;
        opacity: 0.7;
    }
    
    .boxes {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .box {
            width: 400px;
            text-align: left;
            position: relative;
            .number {   
                font-size: 220px;
                font-weight: 700;
                font-family: Montserrat;
                color: #00ac46;
                margin: 0;
            }
            .text-list-1 {
                @include overlapping-text-box(60px);
            }
            .text-list-2 {
                @include overlapping-text-box(85px);
            }
            .text-list-3 {
                @include overlapping-text-box(87px);
            }
        }
    }
   
}

@media (max-width: 1140px) {
    @mixin overlapping-text-box ($position) {
        text-align: start;
        height: 175px;
        width: 480px;
        background-color: rgba(255, 255, 255,0);
        position: absolute;
        left: $position;
        top: 120px;
        p {
            margin: 10px 0 0 10px;
            font-size: 30px;
            font-weight: 500;
        }
        ul {
            margin: 20px 0 0 45px;
            line-height: 35px;
            list-style-image: url(../img/service-v2/bullet.png);
            li {
                color: #777777;
                font-size: 22px;
                font-weight: 400;
                text-indent: 15px;
            }
        }
    }

    .list-123 {
        height: 1370px;
        width: 750px;
        margin: auto auto;
        .t1 {
            font-size: 45px;
        }
        .t2 {
            font-size: 25px;
            font-weight: 500;
            opacity: 0.9;
            margin-top: 30px;
            margin-bottom: 50px;
        }
        .boxes {
            flex-direction: column;
            margin-left: 30px;
            .box {
                padding-bottom: 50px;
                .text-list-1 {
                    @include overlapping-text-box(60px);
                }
                .text-list-2 {
                    @include overlapping-text-box(85px);
                }
                .text-list-3 {
                    @include overlapping-text-box(87px);
                }
            }
        }
    }
}