.green-line{
    position: relative;
    .green-bar{
        //1px solid #4da953
        width: 1px;
        height: 110px;
        display: block;
        background: #4da953;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        @media screen and (max-width: 600px) {
            height: 55px;
        }
        &.top {
            top: 55px;
            @media screen and (max-width: 600px) {
                top: 27.5px;
            }
        }
        &.bottom {
            bottom: 55px;
            @media screen and (max-width: 600px) {
                bottom: 27.5px;
            }
        }

      
    }
}