.map_contact_form {
    .container {
        display: flex;

        @media screen and (max-width: $tablet-breakpoint) {
            flex-direction: column;
        }

        .map {
            height: 900px;
            width: 50%;

            @media screen and (max-width: $tablet-breakpoint) {
                height: 600px;
                width: 100%;
            }

            .acf-map {
                height: 100%;
            }
        }

        .form {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem;
            box-sizing: border-box;
            position: relative;

            @media screen and (max-width: $tablet-breakpoint) {
                width: 100%;
                padding: 2rem;
            }

            .header {
                h1 {
                    font-weight: 500;
                }
            }

            .contact-form {
                margin-top: 1.5rem;

                .spinner-overlay {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    justify-content: center;
                    padding-top: 6rem;
                    background-color: rgba(255, 255, 255, 0.6);
                    z-index: 9000;

                    .spinner {
                        border: 10px solid #C2D2ED;
                        /* Light grey */
                        border-top: 10px solid #0a1b3b;
                        /* Blue */
                        border-radius: 50%;
                        width: 120px;
                        height: 120px;
                        animation: spin 2s linear infinite;
                    }
                }

                &.loading {
                    min-height: 400px;

                    .spinner-overlay {
                        display: flex;
                    }
                }

                .form-response {
                    &.error {
                        color: rgb(196, 60, 60);
                    }
                }

                .form-group {
                    .box {
                        height: 53px;
                        width: 100%;
                        background-color: #f0f1f2;
                        border: 1px solid #E0E1E2;
                        margin-bottom: 5px;
                        display: flex;

                        input {
                            width: 80%;
                            height: 100%;
                            margin: 0 0 0 10%;
                            font-size: 20px;
                            background-color: inherit;
                            border: none;
                            outline: none;
                        }

                        .image-holder {
                            width: 18%;
                            background-color: inherit;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                background-color: inherit;
                            }
                        }
                    }

                    .box-big {
                        height: 163px;
                        width: 100%;
                        background-color: #f0f1f2;
                        border: 1px solid #E0E1E2;
                        margin-bottom: 18px;

                        textarea {
                            height: 80%;
                            width: 89%;
                            background-color: inherit;
                            border: none;
                            outline: none;
                            font-size: 20px;
                            margin: 20px 1% 20px 10%;
                            overflow-y: scroll;
                            display: inline;
                            resize: none;
                        }
                    }

                    .submit-button {
                        text-transform: uppercase;
                        height: 65px;
                        width: 180px;
                        background-color: #336dd6;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                        font-size: 20px;
                        border: none;

                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }

                    a {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    .checkbox {
                        margin-top: 10px;
                        margin-bottom: 20px;

                        label {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;
                            }

                            .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 25px;
                                width: 25px;
                                background-color: #f0f1f2;
                                border: 1px solid #E0E1E2;
                            }

                            &:hover input~.checkmark {
                                background-color: #ccc;
                            }

                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            & input:checked~.checkmark:after {
                                display: block;
                            }

                            .checkmark:after {
                                left: 9px;
                                top: 5px;
                                width: 5px;
                                height: 10px;
                                border: solid $lighter-blue;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}