
.meet-employee {
    padding-top: 140px;
    padding-bottom: 100px;
    width: 100%;
    .background-fill {
        margin: auto auto;
        position: relative;
        .image {
            height: 575px;
            width: 560px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .mobile-image {
            display: none;
        }
        .yellow-box {
            position: absolute;
            left: 470px;
            top: 190px;
            bottom: 255px;
            right: 0;
            //height: 130px;
            //width: 620px;
            background-color: #ffce06;
            color: white;
            .t1 {
                margin: 20px 60px 10px 70px;
                font-size: 34px;
                font-weight: 300;
            }
            .t2 {
                margin: 0 60px 50px 70px;
                font-size: 22px;
                font-weight: 600;
            }
        }
        .button {
            //float: right;
            height: 60px;
            width: 235px;
            background-color: $lighter-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 320px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0px;
            color: white;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }    
}

@media (max-width: 1140px) {
    .meet-employee {
        .background-fill {
            .image {display: none}
            .mobile-image {
                display: inline;
            }
            .yellow-box {
                top: 296px;
                right: 0px;
                left: 245px;
                bottom: 51px;
                .t1 {
                    margin: 30px 0 10px 70px;
                    font-size: 35px;
                    font-weight: 300;
                    line-height: 35px;
                }
                .t2 {
                    margin: 30px 0px 0px 70px;
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 600;
                }
            }
            .button {
                top: unset;
                bottom: 50px;
                right: 0;
                font-weight: 500;
            }
        }
    }
}    




@media (max-width: 600px) {
    .meet-employee {
        padding-bottom: 0;
        padding-top: 0px;
        .background-fill {
            width: 100%;
            .image {display: none}
            .mobile-image {
                display: inline;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 300px;
                }
            }
            .yellow-box {
                position: initial;
                width:100%;
                height: 300px;
                padding-top: 30px;
                .t1 {
                    margin: 30px 20px 10px 20px;
                }
                .t2 {
                    margin: 30px 20px 20px 20px;
                }
            }
            .button {
                width:100%;
                bottom:0;
                top: auto;
                right: 0;
            }
        }
    }
}    