.main {
    &.lightgrey {
        background-color: #f9fafb;
    }
    .experts {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        //height: 865px;
        padding-top: 140px;
        padding-bottom: 100px;
        .boxes {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 50px;
            padding-bottom: 40px;
            .expert-box {
                min-height: 460px;
                width: 31.58%;
                position: relative;
                &.show-more {
                    display: none;
                    &.show {
                        display: unset;
                    }
                }
                .yellow {
                    height: 80px;
                    width: 75%;
                    position: absolute;
                    top: 170px;
                    background-color: #ffce06;
                    color: white;
                    text-align: start;
                    padding-left: 10px;
                    .name {
                        font-size: 25px;
                        font-weight: 500;
                        padding-top: 10px;
                        padding-bottom: 3px;
                        margin:0;
                    }
                    .position {
                        font-size: 18px;
                        font-weight: 400;
                        margin:0;
                    }
                }
                img {
                    height: 270px;
                    width: 100%;
                    object-fit: cover;
                }
                .description {
                    font-size: 17px;
                    font-weight: 500;
                    padding: 20px 0 0 0;
                    line-height: 35px;
                    opacity: 0.5;
                }
                .meet {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    a {
                        font-size: 15px;
                        font-weight: 600;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $lighter-blue;
                    }
                    img {
                        
                        height: 15px;
                        width: 15px;
                    }
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 270px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
            color: $lighter-blue;
            border-radius: 50px;
            border: 2px solid $lighter-blue;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFF;
            &::after {
                content: '';
                background-image: url(../images/down-arrow.png);
                background-size: 17px 19px;
                background-repeat: no-repeat;
                height: 19px;
                width: 17px;
                margin-left: 20px;
                transition:  all ease 0.8s;
            }
            &.active::after {
                transform: rotate(-180deg);
                margin-left: 20px;
                margin-right: 0;
            }
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}




@media (max-width: $tablet-breakpoint) {

.main {    
    .experts {
        .boxes {
            flex-direction: column;
            padding-bottom: 0px;
            .expert-box {
                width: 100%;
                //min-height: 700px;
                .yellow { 
                    top: 300px;
                    height: 150px;
                    padding-left: 20px;
                    width: 500px;
                    .name {
                        font-size: 45px;
                        font-weight: 500;
                        padding-top: 20px;
                        padding-bottom: 3px;
                    }
                    .position {
                        font-size: 30px;
                        font-weight: 500;
                    }
                }
                img {
                    height: 500px;
                    width: 100%;
                }
                .description {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 20px 0 0 0;
                    line-height: 35px;
                    opacity: 0.5;
                }
                .meet {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    a {
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $lighter-blue;
                    }
                    img {
                        height: 15px;
                        width: 15px;
                    }
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 320px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: $lighter-blue;
            border-radius: 50px;
            border: 2px solid $lighter-blue;
            margin-left: auto;
            margin-right: auto;
            img {
                padding-left: 20px;
            }
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}


}




@media (max-width: $mobile-breakpoint) {

.main {     
    .experts {
        padding-top: 80px;
        padding-bottom: 80px;
        .boxes {
            flex-direction: column;
            padding-bottom: 0px;
            overflow-x: hidden;
            padding-top:20px;
            .expert-box {
                .yellow { 
                    top: 300px;
                    height: auto;
                    padding-left: 20px;
                    padding-bottom: 20px;
                    width: 100%;
                    .name {
                        font-size: 35px;
                    }
                    .position {
                        font-size: 20px;
                    }
                }
                img {
                    height: 500px;
                    width: 100%;
                }
                .description {
                    padding: 10px 20px 0 20px;
                    line-height: 1.5;
                }
                .meet {
                    margin-top: 0px;
                    margin-bottom: 50px;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
        .button {
            width: 250px;
            height: 50px;
            font-size: 15px;
            img {
                padding-left: 20px;
            }
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}



}