
.skill-top {
    width: 1140px;
    margin: auto auto;
    margin-bottom: 100px;
    .border-top {
        height: 90px;
        width: 50%;
        border-right: 1px solid $green;
    }
    .content {
        min-height: 460px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        .image {
            width: 50%;
        }
        .text {
            width: 50%;
            margin-top: 80px;
            .head {
                font-size: 32px;
                font-weight: 300;
                letter-spacing: 3px;
                margin-bottom: 30px;
            }
            .subhead {
                margin-bottom: 30px;
                font-size: 24px;
                letter-spacing: 1px;
                font-weight: 500;
            }
            ul {
                line-height: 30px;
                list-style: none;
                list-style-position: outside;
                margin: 15px 0;
               li {
                   color: #89898a;
                   font-size: 17px;
                   font-weight: 500;
                   text-indent: 15px;
                   &:before {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background: #ffcc00;
                    margin: 0px 8px 2px 0px;
                    position: relative;
                    content: " ";
                   }
               }
            }
            .boxes {
                display: flex;
                margin-top: 30px;
                text-transform: uppercase;
                .box-1 {
                    height: 45px;
                    width: 140px;
                    border: 2px solid transparent;
                    background-color: $lighter-blue;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                .box-2 {
                    height: 45px;
                    width: 140px;
                    border: 2px solid $lighter-blue;
                    color: $lighter-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}





@media (max-width: 1140px) {


    .skill-top {
        width: 680px;
        .content {
            flex-direction: column;
            .image {
              width: 500px;
              margin-top: 30px;
              img {
                  width: 100%;
              }
            }
            .text {
                width: 100%;
                margin-top: 60px;
                .head {
                    font-size: 45px;
                    font-weight: 400;
                }
                ul {
                    line-height: 32px;
                    padding: 0;
                   li {
                       color: #89898a;
                       font-size: 22px;
                       font-weight: 400;
                       text-indent: 15px;
                       margin: 16px 0;
                   }
                }
                .boxes {
                    margin-top: 40px;
                    .box-1 {
                        height: 60px;
                        width: 170px;
                    }
                    .box-2 {
                        height: 60px;
                        width: 170px;
                    }
                }
            }
        }
    }
    
}




@media (max-width: 600px) {


.skill-top {
    width: 100%;
    margin-bottom: 100px;
    .content {
        flex-wrap: wrap;
        .image {
            width: 100%;
            height: auto;
            img {
                margin-left: 15%;
                width: 70%;
            }
        }
        .text {
            width: 100%;
            margin-top: 0px;
            ul {
                margin-left: 0px;
                padding-right: 30px;
                padding-left: 20px;
                line-height: 30px;
                list-style-image: url(../../images/bullet.png);
               li {
                   text-indent: 0px;
               }
            }
            .boxes {
                justify-content: center;
                .box-1 {
                    margin-right: 5px;
                    margin-left: 5px;
                }
                .box-2 {
                    margin-right: 5px;
                    margin-left: 5px;
                }
                }
            }
        }
    }
}