@mixin texts-in-boxes {
    .texts {
        padding-left: 40%;
        padding-top: 60px;
        padding-right: 10%;
        background: transparent;
        height: 135px;
        .texts-1 {
            background: transparent;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 1px;
            margin: 0;
        }
        .texts-2 {
            background: transparent;
            font-size: 16px;
            opacity: 0.6;
            letter-spacing: 0px;
            line-height: 25px;
            font-weight: 400;
            margin-top: 10px;
        }
    }
}




.main {
    &.lightgrey {
        background-color: #f9fafb;
    }
    .u-need {
        padding-top: 140px;
        padding-bottom: 100px;
        
        .content {
            
            margin: auto auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .boxes {
                height: 195px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 60px;
                .box-1 {
                    height: 100%;
                    width: 32.9%;
                    border: 1px solid #E0E1E2;
                    background: url(../images/cog-green.png) no-repeat -25% 150%;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../images/cog-white.png) no-repeat -25% 150%;
                        color: white;
                        cursor: pointer;
                    }  
                    a {
                        width: 100%;
                        height: 100%;
                    } 
                }
                .box-2 {
                    height: 100%;
                    width: 32.9%;
                    border: 1px solid #E0E1E2;
                    background: url(../images/brain-green.png) no-repeat -12% 120%;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../images/brain-white.png) no-repeat -12% 120%;
                        color: white;
                        cursor: pointer;
                    }  
                    a {
                        width: 100%;
                        height: 100%;
                    }  
                }
                .box-3 {
                    height: 100%;
                    width: 32.9%;
                    border: 1px solid #E0E1E2;
                    background: url(../images/chat-green.png) no-repeat -20% 90%;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../images/chat-white.png) no-repeat -20% 90%;
                        color: white;
                        cursor: pointer;
                    }   
                    a {
                        width: 100%;
                        height: 100%;
                    } 
                }
            }
        }
        
    }
}


@media (max-width: $tablet-breakpoint) {
    @mixin texts-in-boxes {
        .texts {
            padding-left: 30%;
            padding-top: 60px;
            padding-right: 10%;
            background: transparent;
            .texts-1 {
                background: transparent;
                font-weight: 600;
                font-size: 30px;
                letter-spacing: 1px;
                padding-bottom: 15px;
            }
            .texts-2 {
                background: transparent;
                font-size: 27px;
                letter-spacing: 1px;
                line-height: 25px;
                font-weight: 400;
            }
        }
    }

    .main {
        .u-need {
            .content {
                .boxes {
                    flex-direction: column;
                    height: 790px;
                    .box-1{
                        width: 100%;
                        height: 255px;
                        background: url(../images/cog-green.png) no-repeat -12% 160%;
                        background-size: 200px;
                        @include texts-in-boxes();
                        &:hover {
                            background: #4da953 url(../images/cog-white.png) no-repeat -12% 160%;
                            background-size: 200px;
                            color: white;
                            cursor: pointer;
                        }   
                    }
                    .box-2{
                        width: 100%;
                        height: 255px;
                        background: url(../images/brain-green.png) no-repeat -10% 120%;
                        background-size: 170px;
                        @include texts-in-boxes();
                        &:hover {
                            background: #4da953 url(../images/brain-white.png) no-repeat -10% 120%;
                            background-size: 170px;
                            color: white;
                            cursor: pointer;
                        }   
                    } 
                    .box-3 {
                        width: 100%;
                        height: 255px;
                        background: url(../images/chat-green.png) no-repeat -9% 90%;
                        background-size: 180px;
                        @include texts-in-boxes();
                        &:hover {
                            background: #4da953 url(../images/chat-white.png) no-repeat -9% 90%;
                            background-size: 180px;
                            color: white;
                            cursor: pointer;
                        }   
                    }
                }
            }
        }
    }
}





@media (max-width: $mobile-breakpoint) {

    @mixin texts-in-boxes {
        .texts {
            padding-left: 40%;
            padding-top: 30px;
            padding-right: 10%;
            background: transparent;
            .texts-1 {
                background: transparent;
                font-weight: 600;
                font-size: 25px;
                letter-spacing: 1px;
                padding-bottom: 0;
            }
            .texts-2 {
                background: transparent;
                font-size: 16px;
                opacity: 0.6;
                letter-spacing: 0px;
                line-height: 25px;
                font-weight: 400;
            }
        }
    }


    .main {
        .u-need {
            width:100%;
            padding-top: 80px;
            padding-bottom: 80px;
            .content {
                h2 {
                    margin-bottom: 0;
                }
                .boxes {
                    flex-direction: column;
                    height: auto;
                    .box-1{
                        width: 100%;
                        height: 150px;
                        background: url(../images/cog-green.png) no-repeat -12% 160%;
                        background-size: 135px;
                        margin-bottom: 30px;
                        @include texts-in-boxes();
                        &:hover {
                            background: #4da953 url(../images/cog-white.png) no-repeat -12% 160%;
                            background-size: 200px;
                            color: white;
                            cursor: pointer;
                        }   
                    }
                    .box-2{
                        width: 100%;
                        height: 150px;
                        background: url(../images/brain-green.png) no-repeat -10% 155%;
                        background-size: 109px;
                        margin-bottom: 30px;
                        @include texts-in-boxes();
                    } 
                    .box-3 {
                        width: 100%;
                        height: 150px;
                        background: url(../images/chat-green.png) no-repeat -9% 90%;
                        background-size: 120px;
                        @include texts-in-boxes(); 
                    }
                }
            }
        }
    }


    
}