header {
    background-color: #FFF;
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
 
    border-bottom: 1px solid #E0E1E2;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: calc(100% - 40px);
    .logo {
         flex: 4;
         background-color: #fff;
         height: 100%;
         display: inline;
         width: 100px;
         .inner-logo{
             position: relative;
             display: inline-block;
             height: 100%;
         }
         img {
             background-color: #000;
             width: 20%;
             height: 100%;
             }
             
         }
         nav{
           
            display: block;
            
            width: calc(100% - 100px);
            float: right;
            ul {
                text-transform: uppercase;
                list-style-type: none;
                padding: 0;
                text-align: right;
                
                 .nav_item{
                     display: inline-block;
                     padding-right: 20px;
                     position: relative;
                     a{
                        font-size: 14px;
                        font-weight: 600;
                        opacity: 0.7;
                        display: inline-block;
                        margin-bottom: 10px;
                        margin-top: 10px;
                     }
                     .sub_nav {
                        display: none;
                        position: absolute;
                        text-align: left;
                        width: 100%;
                        left: -6px;
                        width: 129px;
                        box-shadow: 0px 2px 1px 1px lightgrey;
                         .sub_nav_item {
                            padding: 8px 6px 7px;
                            background-color: white;
                            a {
                                color: #122e5f;
                                margin-bottom: 0;
                                margin-top: 0;
                            }
                            &:hover {
                                a {
                                    color: #3069ce;
                                }
                            }
                         }
                     }
                     &:hover {
                        .sub_nav {
                            display: block;
                        }
                     }
                 }
                 li:hover {
                     a {
                        color: #3069ce;
                    }
                 }
             }
         }
     
 }



 @media (max-width: 600px) {

  header {
      width: 100%;
  }  

 }