.three-links{
    word-spacing: 10px;
    a,p,label{
        order: 1px solid transparent;
        border-radius: 50px;
        text-decoration: none;
        padding: 1px 4px 1px 4px;
        background-color: #B6CAE8;
        color: #3f4754;
        font-size: 14px;
    }
}