{
  "name": "Naes",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/scss/main.scss",
      "imports": [
        "assets/scss/_variables.scss",
        "assets/scss/_mixins.scss",
        "assets/scss/defaults/_main.scss",
        "assets/scss/defaults/_error.scss",
        "assets/scss/defaults/_component.scss",
        "assets/scss/defaults/_typography.scss",
        "assets/scss/layout/_header.scss",
        "assets/scss/layout/_footer.scss",
        "assets/scss/layout/_main.scss",
        "assets/scss/layout/_misc.scss",
        "assets/scss/layout/_grid.scss",
        "assets/scss/components/_newsletter.scss",
        "assets/scss/components/_numbers.scss",
        "assets/scss/components/_featured.scss",
        "assets/scss/components/_blog-posts.scss",
        "assets/scss/components/_blog-filters.scss",
        "assets/scss/components/_doer.scss",
        "assets/scss/components/_numbers-big.scss",
        "assets/scss/components/posts/_full-image.scss",
        "assets/scss/components/posts/_wysiwyg.scss",
        "assets/scss/components/posts/_video.scss",
        "assets/scss/components/posts/_half-grid.scss",
        "assets/scss/components/_post-grid.scss",
        "assets/scss/components/_post-grid-item.scss",
        "assets/scss/pages/_single-blog-post.scss",
        "assets/scss/pages/_single-author.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7891,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/naes/wp-content/themes/Naes/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "31.216.35.44",
      "port": 21,
      "user": "jakobrahlen",
      "password": "Szt9g^84"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "templates/layout/header.php",
        "ctime": "2018-05-28T17:47:34.543Z",
        "mtime": "2018-05-28T17:47:34.543Z",
        "size": 579
      },
      {
        "file": "assets/css/main.css",
        "ctime": "2018-06-02T14:17:33.295Z",
        "mtime": "2018-06-02T14:17:33.295Z",
        "size": 24589
      },
      {
        "file": "templates/layout/footer.php",
        "ctime": "2018-05-28T18:46:37.034Z",
        "mtime": "2018-05-28T18:46:37.034Z",
        "size": 1562
      },
      {
        "file": ".gitattributes",
        "ctime": "2018-05-27T13:30:47.080Z",
        "mtime": "2018-05-27T13:30:47.080Z",
        "size": 66
      },
      {
        "file": "404.php",
        "ctime": "2018-06-02T14:13:04.796Z",
        "mtime": "2018-06-02T14:13:04.796Z",
        "size": 65
      },
      {
        "file": "assets/js/scripts.js",
        "ctime": "2018-05-27T13:30:50.494Z",
        "mtime": "2018-05-27T13:30:50.494Z",
        "size": 2200
      },
      {
        "file": "assets/css/defaults/_component.css",
        "ctime": "2018-05-27T13:30:55.165Z",
        "mtime": "2018-05-27T13:30:55.165Z",
        "size": 0
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Black.woff",
        "ctime": "2018-05-27T13:30:51.061Z",
        "mtime": "2018-05-27T13:30:51.061Z",
        "size": 20280
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-BlackOblique.woff",
        "ctime": "2018-05-27T13:30:54.983Z",
        "mtime": "2018-05-27T13:30:54.983Z",
        "size": 21468
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Book.woff",
        "ctime": "2018-05-27T13:30:52.372Z",
        "mtime": "2018-05-27T13:30:52.372Z",
        "size": 19888
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-BookOblique.woff",
        "ctime": "2018-05-27T13:30:50.967Z",
        "mtime": "2018-05-27T13:30:50.967Z",
        "size": 21312
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Heavy.woff",
        "ctime": "2018-05-27T13:30:54.542Z",
        "mtime": "2018-05-27T13:30:54.542Z",
        "size": 20132
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-HeavyOblique.woff",
        "ctime": "2018-05-27T13:30:52.707Z",
        "mtime": "2018-05-27T13:30:52.707Z",
        "size": 21252
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Light.woff",
        "ctime": "2018-05-27T13:30:52.607Z",
        "mtime": "2018-05-27T13:30:52.607Z",
        "size": 19760
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-LightOblique.woff",
        "ctime": "2018-05-27T13:30:51.435Z",
        "mtime": "2018-05-27T13:30:51.435Z",
        "size": 21208
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Medium.woff",
        "ctime": "2018-05-27T13:30:54.374Z",
        "mtime": "2018-05-27T13:30:54.374Z",
        "size": 19808
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-MediumOblique.woff",
        "ctime": "2018-05-27T13:30:52.250Z",
        "mtime": "2018-05-27T13:30:52.250Z",
        "size": 21392
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Oblique.woff",
        "ctime": "2018-05-27T13:30:51.526Z",
        "mtime": "2018-05-27T13:30:51.526Z",
        "size": 21240
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Roman.woff",
        "ctime": "2018-05-27T13:30:51.385Z",
        "mtime": "2018-05-27T13:30:51.385Z",
        "size": 19716
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Bold.otf",
        "ctime": "2018-05-27T13:30:54.389Z",
        "mtime": "2018-05-27T13:30:54.389Z",
        "size": 31020
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Italic.otf",
        "ctime": "2018-05-27T13:30:51.290Z",
        "mtime": "2018-05-27T13:30:51.290Z",
        "size": 37000
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Regular.otf",
        "ctime": "2018-05-27T13:30:52.108Z",
        "mtime": "2018-05-27T13:30:52.108Z",
        "size": 54752
      },
      {
        "file": "assets/css/fonts/Lora-Bold.ttf",
        "ctime": "2018-05-27T13:30:54.842Z",
        "mtime": "2018-05-27T13:30:54.842Z",
        "size": 201580
      },
      {
        "file": "assets/css/fonts/Lora-BoldItalic.ttf",
        "ctime": "2018-05-27T13:30:52.469Z",
        "mtime": "2018-05-27T13:30:52.469Z",
        "size": 188412
      },
      {
        "file": "assets/css/fonts/Lora-Italic.ttf",
        "ctime": "2018-05-27T13:30:54.846Z",
        "mtime": "2018-05-27T13:30:54.846Z",
        "size": 188860
      },
      {
        "file": "assets/css/fonts/Lora-Regular.ttf",
        "ctime": "2018-05-27T13:30:50.922Z",
        "mtime": "2018-05-27T13:30:50.922Z",
        "size": 182152
      },
      {
        "file": "assets/css/fonts/Nunito-Black.ttf",
        "ctime": "2018-05-27T13:30:51.944Z",
        "mtime": "2018-05-27T13:30:51.944Z",
        "size": 115896
      },
      {
        "file": "assets/css/fonts/Nunito-BlackItalic.ttf",
        "ctime": "2018-05-27T13:30:52.229Z",
        "mtime": "2018-05-27T13:30:52.229Z",
        "size": 117784
      },
      {
        "file": "assets/css/fonts/Nunito-Bold.ttf",
        "ctime": "2018-05-27T13:30:51.147Z",
        "mtime": "2018-05-27T13:30:51.147Z",
        "size": 115852
      },
      {
        "file": "assets/css/fonts/Nunito-BoldItalic.ttf",
        "ctime": "2018-05-27T13:30:52.018Z",
        "mtime": "2018-05-27T13:30:52.018Z",
        "size": 116948
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraBold.ttf",
        "ctime": "2018-05-27T13:30:52.803Z",
        "mtime": "2018-05-27T13:30:52.803Z",
        "size": 115944
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraBoldItalic.ttf",
        "ctime": "2018-05-27T13:30:50.830Z",
        "mtime": "2018-05-27T13:30:50.830Z",
        "size": 116312
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraLight.ttf",
        "ctime": "2018-05-27T13:30:51.830Z",
        "mtime": "2018-05-27T13:30:51.830Z",
        "size": 113036
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraLightItalic.ttf",
        "ctime": "2018-05-27T13:30:51.640Z",
        "mtime": "2018-05-27T13:30:51.640Z",
        "size": 114712
      },
      {
        "file": "assets/css/fonts/Nunito-Italic.ttf",
        "ctime": "2018-05-27T13:30:51.752Z",
        "mtime": "2018-05-27T13:30:51.752Z",
        "size": 115780
      },
      {
        "file": "assets/css/fonts/Nunito-Light.ttf",
        "ctime": "2018-05-27T13:30:54.560Z",
        "mtime": "2018-05-27T13:30:54.560Z",
        "size": 116360
      },
      {
        "file": "assets/css/fonts/Nunito-LightItalic.ttf",
        "ctime": "2018-05-27T13:30:55.047Z",
        "mtime": "2018-05-27T13:30:55.047Z",
        "size": 115444
      },
      {
        "file": "assets/css/fonts/Nunito-Regular.ttf",
        "ctime": "2018-05-27T13:30:51.247Z",
        "mtime": "2018-05-27T13:30:51.247Z",
        "size": 113832
      },
      {
        "file": "assets/css/fonts/Nunito-SemiBold.ttf",
        "ctime": "2018-05-27T13:30:52.565Z",
        "mtime": "2018-05-27T13:30:52.565Z",
        "size": 115968
      },
      {
        "file": "assets/css/fonts/Nunito-SemiBoldItalic.ttf",
        "ctime": "2018-05-27T13:30:52.919Z",
        "mtime": "2018-05-27T13:30:52.919Z",
        "size": 116936
      },
      {
        "file": "config.php",
        "ctime": "2018-06-02T14:08:27.106Z",
        "mtime": "2018-06-02T14:08:27.106Z",
        "size": 861
      },
      {
        "file": "footer.php",
        "ctime": "2018-05-27T13:30:46.456Z",
        "mtime": "2018-05-27T13:30:46.456Z",
        "size": 88
      },
      {
        "file": "functions.php",
        "ctime": "2018-05-27T13:30:46.644Z",
        "mtime": "2018-05-27T13:30:46.644Z",
        "size": 329
      },
      {
        "file": "header.php",
        "ctime": "2018-05-27T13:30:47.214Z",
        "mtime": "2018-05-27T13:30:47.214Z",
        "size": 694
      },
      {
        "file": "index.php",
        "ctime": "2018-05-27T13:30:46.518Z",
        "mtime": "2018-05-27T13:30:46.518Z",
        "size": 40
      },
      {
        "file": "libs/acf.php",
        "ctime": "2018-05-27T13:30:47.585Z",
        "mtime": "2018-05-27T13:30:47.585Z",
        "size": 5883
      },
      {
        "file": "libs/actions.php",
        "ctime": "2018-05-27T13:30:47.688Z",
        "mtime": "2018-05-27T13:30:47.688Z",
        "size": 133
      },
      {
        "file": "libs/cpts.php",
        "ctime": "2018-06-02T12:55:01.204Z",
        "mtime": "2018-06-02T12:55:01.204Z",
        "size": 3955
      },
      {
        "file": "libs/enqueues.php",
        "ctime": "2018-05-27T13:30:47.710Z",
        "mtime": "2018-05-27T13:30:47.710Z",
        "size": 397
      },
      {
        "file": "libs/error.php",
        "ctime": "2018-05-27T13:30:47.262Z",
        "mtime": "2018-05-27T13:30:47.262Z",
        "size": 1906
      },
      {
        "file": "libs/helpers.php",
        "ctime": "2018-05-27T13:30:47.808Z",
        "mtime": "2018-05-27T13:30:47.808Z",
        "size": 184
      },
      {
        "file": "libs/layout.php",
        "ctime": "2018-05-27T13:30:47.352Z",
        "mtime": "2018-05-27T13:30:47.352Z",
        "size": 580
      },
      {
        "file": "libs/menus.php",
        "ctime": "2018-05-27T13:30:47.510Z",
        "mtime": "2018-05-27T13:30:47.510Z",
        "size": 2972
      },
      {
        "file": "libs/multilang.php",
        "ctime": "2018-05-27T13:30:47.833Z",
        "mtime": "2018-05-27T13:30:47.833Z",
        "size": 710
      },
      {
        "file": "libs/wp-hacks.php",
        "ctime": "2018-05-27T13:30:47.385Z",
        "mtime": "2018-05-27T13:30:47.385Z",
        "size": 2395
      },
      {
        "file": "singular.php",
        "ctime": "2018-06-01T11:07:09.151Z",
        "mtime": "2018-06-01T11:07:09.151Z",
        "size": 726
      },
      {
        "file": "style.css",
        "ctime": "2018-05-27T13:39:32.077Z",
        "mtime": "2018-05-27T13:39:32.077Z",
        "size": 108
      },
      {
        "file": "templates/components/newsletter.php",
        "ctime": "2018-05-27T17:21:56.055Z",
        "mtime": "2018-05-27T17:21:56.055Z",
        "size": 395
      },
      {
        "file": "templates/components/numbers.php",
        "ctime": "2018-05-27T17:32:35.684Z",
        "mtime": "2018-05-27T17:32:35.684Z",
        "size": 701
      },
      {
        "file": "templates/components/featured.php",
        "ctime": "2018-05-28T05:56:56.776Z",
        "mtime": "2018-05-28T05:56:56.776Z",
        "size": 979
      },
      {
        "file": "templates/components/post-grid.php",
        "ctime": "2018-05-31T14:58:32.754Z",
        "mtime": "2018-05-31T14:58:32.754Z",
        "size": 783
      },
      {
        "file": "templates/components/post-grid-item.php",
        "ctime": "2018-05-30T07:40:24.751Z",
        "mtime": "2018-05-30T07:40:24.751Z",
        "size": 1581
      },
      {
        "file": "templates/components/blog-posts.php",
        "ctime": "2018-05-31T14:38:41.804Z",
        "mtime": "2018-05-31T14:38:41.804Z",
        "size": 65
      },
      {
        "file": "templates/components/blog-filters.php",
        "ctime": "2018-06-02T12:20:21.400Z",
        "mtime": "2018-06-02T12:20:21.400Z",
        "size": 1391
      },
      {
        "file": "single-blog-post.php",
        "ctime": "2018-06-02T13:17:57.782Z",
        "mtime": "2018-06-02T13:17:57.782Z",
        "size": 3698
      },
      {
        "file": "templates/components/posts/full-image.php",
        "ctime": "2018-06-01T09:02:59.020Z",
        "mtime": "2018-06-01T09:02:59.020Z",
        "size": 5498
      },
      {
        "file": "templates/components/posts/wysiwyg.php",
        "ctime": "2018-06-01T09:13:47.135Z",
        "mtime": "2018-06-01T09:13:47.135Z",
        "size": 98
      },
      {
        "file": "templates/components/posts/video.php",
        "ctime": "2018-06-01T09:37:36.145Z",
        "mtime": "2018-06-01T09:37:36.145Z",
        "size": 415
      },
      {
        "file": "assets/css/components/posts/_video.css",
        "ctime": "2018-06-01T09:35:57.930Z",
        "mtime": "2018-06-01T09:35:57.930Z",
        "size": 0
      },
      {
        "file": "templates/components/posts/half-grid.php",
        "ctime": "2018-06-01T11:19:43.773Z",
        "mtime": "2018-06-01T11:19:43.773Z",
        "size": 316
      },
      {
        "file": "taxonomy-authors.php",
        "ctime": "2018-06-02T12:57:54.112Z",
        "mtime": "2018-06-02T12:57:54.112Z",
        "size": 67
      },
      {
        "file": "templates/components/doer.php",
        "ctime": "2018-06-02T14:32:32.432Z",
        "mtime": "2018-06-02T14:32:32.432Z",
        "size": 1234
      },
      {
        "file": "assets/images/brain-green.png",
        "ctime": "2018-06-02T13:46:01.685Z",
        "mtime": "2018-05-27T13:20:07.758Z",
        "size": 3782
      },
      {
        "file": "assets/images/brain-white.png",
        "ctime": "2018-06-02T13:46:01.691Z",
        "mtime": "2018-05-27T13:20:07.758Z",
        "size": 3759
      },
      {
        "file": "assets/images/chat-green.png",
        "ctime": "2018-06-02T13:46:01.696Z",
        "mtime": "2018-05-27T13:20:07.759Z",
        "size": 1801
      },
      {
        "file": "assets/images/chat-white.png",
        "ctime": "2018-06-02T13:46:01.700Z",
        "mtime": "2018-05-27T13:20:07.759Z",
        "size": 1733
      },
      {
        "file": "assets/images/cog-green.png",
        "ctime": "2018-06-02T13:46:01.703Z",
        "mtime": "2018-05-27T13:20:07.761Z",
        "size": 5207
      },
      {
        "file": "assets/images/cog-white.png",
        "ctime": "2018-06-02T13:46:01.706Z",
        "mtime": "2018-05-27T13:20:07.761Z",
        "size": 4843
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":true,\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"typescript\",\"ts\"],\"replaceSegmentsWith\":\"js\",\"relative\":\"\"},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-typescript\":{\"enabled\":true}}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"],\"compiler-jpg\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}"
}