{
  "name": "Naes",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "assets",
      "assets/images"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/scss/main.scss",
      "imports": [
        "assets/scss/_variables.scss",
        "assets/scss/_mixins.scss",
        "assets/scss/_waitme.scss",
        "assets/scss/_swiper.scss",
        "assets/scss/defaults/_main.scss",
        "assets/scss/defaults/_error.scss",
        "assets/scss/defaults/_component.scss",
        "assets/scss/defaults/_typography.scss",
        "assets/scss/layout/_header.scss",
        "assets/scss/layout/_footer.scss",
        "assets/scss/layout/_main.scss",
        "assets/scss/layout/_misc.scss",
        "assets/scss/layout/_grid.scss",
        "assets/scss/layout/_buttons.scss",
        "assets/scss/layout/_hero.scss",
        "assets/scss/components/_newsletter.scss",
        "assets/scss/components/_numbers.scss",
        "assets/scss/components/_featured.scss",
        "assets/scss/components/_blog-posts.scss",
        "assets/scss/components/_blog-filters.scss",
        "assets/scss/components/_doer.scss",
        "assets/scss/components/_doers.scss",
        "assets/scss/components/_numbers-big.scss",
        "assets/scss/components/_green-line.scss",
        "assets/scss/components/_expertice.scss",
        "assets/scss/components/_u-need.scss",
        "assets/scss/components/_why.scss",
        "assets/scss/components/_what_have_we_done.scss",
        "assets/scss/components/_meet_person.scss",
        "assets/scss/components/_who_we_are.scss",
        "assets/scss/components/_our_experts.scss",
        "assets/scss/components/_partners.scss",
        "assets/scss/components/_skill_top.scss",
        "assets/scss/components/_take_a_class.scss",
        "assets/scss/components/_who_we_are_inner.scss",
        "assets/scss/components/_tips.scss",
        "assets/scss/components/_contact-row.scss",
        "assets/scss/components/_map-contact-form.scss",
        "assets/scss/components/posts/_image.scss",
        "assets/scss/components/posts/_wysiwyg.scss",
        "assets/scss/components/posts/_video.scss",
        "assets/scss/components/posts/_half-grid.scss",
        "assets/scss/components/_post-grid.scss",
        "assets/scss/components/_post-grid-item.scss",
        "assets/scss/pages/_single-blog-post.scss",
        "assets/scss/pages/_single-author.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7896,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/naes/wp-content/themes/Naes/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "31.216.35.44",
      "port": 21,
      "user": "jakobrahlen",
      "password": "Szt9g^84"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "templates/layout/header.php",
        "ctime": "2018-12-20T14:16:45.026Z",
        "mtime": "2018-12-20T14:16:45.026Z",
        "size": 1057
      },
      {
        "file": "assets/css/main.css",
        "ctime": "2018-12-20T20:00:06.817Z",
        "mtime": "2018-12-20T20:00:06.817Z",
        "size": 178618
      },
      {
        "file": "templates/layout/footer.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2006
      },
      {
        "file": ".gitattributes",
        "ctime": "2018-12-18T12:46:00.322Z",
        "mtime": "2018-12-18T12:46:00.322Z",
        "size": 66
      },
      {
        "file": "404.php",
        "ctime": "2018-12-20T19:24:21.664Z",
        "mtime": "2018-12-20T19:24:21.664Z",
        "size": 34
      },
      {
        "file": "assets/js/scripts.js",
        "ctime": "2018-12-20T18:57:33.610Z",
        "mtime": "2018-12-20T18:57:33.610Z",
        "size": 7117
      },
      {
        "file": "assets/css/defaults/_component.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 0
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Black.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 20280
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-BlackOblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21468
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Book.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 19888
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-BookOblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21312
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Heavy.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 20132
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-HeavyOblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21252
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Light.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 19760
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-LightOblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21208
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Medium.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 19808
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-MediumOblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21392
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Oblique.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 21240
      },
      {
        "file": "assets/css/fonts/AvenirLTStd-Roman.woff",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 19716
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Bold.otf",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 31020
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Italic.otf",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 37000
      },
      {
        "file": "assets/css/fonts/GlacialIndifference-Regular.otf",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 54752
      },
      {
        "file": "assets/css/fonts/Lora-Bold.ttf",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 201580
      },
      {
        "file": "assets/css/fonts/Lora-BoldItalic.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 188412
      },
      {
        "file": "assets/css/fonts/Lora-Italic.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 188860
      },
      {
        "file": "assets/css/fonts/Lora-Regular.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 182152
      },
      {
        "file": "assets/css/fonts/Nunito-Black.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 115896
      },
      {
        "file": "assets/css/fonts/Nunito-BlackItalic.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 117784
      },
      {
        "file": "assets/css/fonts/Nunito-Bold.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 115852
      },
      {
        "file": "assets/css/fonts/Nunito-BoldItalic.ttf",
        "ctime": "2018-12-18T12:46:00.330Z",
        "mtime": "2018-12-18T12:46:00.330Z",
        "size": 116948
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraBold.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 115944
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraBoldItalic.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 116312
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraLight.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 113036
      },
      {
        "file": "assets/css/fonts/Nunito-ExtraLightItalic.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 114712
      },
      {
        "file": "assets/css/fonts/Nunito-Italic.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 115780
      },
      {
        "file": "assets/css/fonts/Nunito-Light.ttf",
        "ctime": "2018-12-18T12:46:00.334Z",
        "mtime": "2018-12-18T12:46:00.334Z",
        "size": 116360
      },
      {
        "file": "assets/css/fonts/Nunito-LightItalic.ttf",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 115444
      },
      {
        "file": "assets/css/fonts/Nunito-Regular.ttf",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 113832
      },
      {
        "file": "assets/css/fonts/Nunito-SemiBold.ttf",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 115968
      },
      {
        "file": "assets/css/fonts/Nunito-SemiBoldItalic.ttf",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 116936
      },
      {
        "file": "config.php",
        "ctime": "2018-12-20T19:07:06.501Z",
        "mtime": "2018-12-20T19:07:06.501Z",
        "size": 1300
      },
      {
        "file": "footer.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 88
      },
      {
        "file": "functions.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 376
      },
      {
        "file": "header.php",
        "ctime": "2018-12-20T12:58:15.824Z",
        "mtime": "2018-12-20T12:58:15.824Z",
        "size": 2805
      },
      {
        "file": "index.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 40
      },
      {
        "file": "libs/acf.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 5883
      },
      {
        "file": "libs/actions.php",
        "ctime": "2018-12-20T19:06:56.649Z",
        "mtime": "2018-12-20T19:06:56.649Z",
        "size": 134
      },
      {
        "file": "libs/cpts.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 7065
      },
      {
        "file": "libs/enqueues.php",
        "ctime": "2018-12-18T16:20:09.970Z",
        "mtime": "2018-12-18T16:20:09.970Z",
        "size": 657
      },
      {
        "file": "libs/error.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1906
      },
      {
        "file": "libs/helpers.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1000
      },
      {
        "file": "libs/layout.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 580
      },
      {
        "file": "libs/menus.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2972
      },
      {
        "file": "libs/multilang.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 710
      },
      {
        "file": "libs/wp-hacks.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2395
      },
      {
        "file": "singular.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 726
      },
      {
        "file": "style.css",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 108
      },
      {
        "file": "templates/components/newsletter.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 395
      },
      {
        "file": "templates/components/numbers.php",
        "ctime": "2018-12-20T10:38:51.046Z",
        "mtime": "2018-12-20T10:38:51.046Z",
        "size": 484
      },
      {
        "file": "templates/components/featured.php",
        "ctime": "2018-12-20T15:42:32.418Z",
        "mtime": "2018-12-20T15:42:32.418Z",
        "size": 1729
      },
      {
        "file": "templates/components/post-grid.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 945
      },
      {
        "file": "templates/components/post-grid-item.php",
        "ctime": "2018-12-20T15:47:16.467Z",
        "mtime": "2018-12-20T15:47:16.467Z",
        "size": 2375
      },
      {
        "file": "templates/components/blog-posts.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 65
      },
      {
        "file": "templates/components/blog-filters.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2576
      },
      {
        "file": "single-blog-post.php",
        "ctime": "2018-12-20T17:37:13.736Z",
        "mtime": "2018-12-20T17:37:13.736Z",
        "size": 1930
      },
      {
        "file": "templates/components/posts/wysiwyg.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 98
      },
      {
        "file": "templates/components/posts/video.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 415
      },
      {
        "file": "assets/css/components/posts/_video.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 0
      },
      {
        "file": "templates/components/posts/half-grid.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 316
      },
      {
        "file": "taxonomy-authors.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 67
      },
      {
        "file": "templates/components/doer.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1234
      },
      {
        "file": "assets/images/brain-green.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 3782
      },
      {
        "file": "assets/images/brain-white.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 3759
      },
      {
        "file": "assets/images/chat-green.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 1801
      },
      {
        "file": "assets/images/chat-white.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 1733
      },
      {
        "file": "assets/images/cog-green.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 5207
      },
      {
        "file": "assets/images/cog-white.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 4843
      },
      {
        "file": "templates/components/green-line.php",
        "ctime": "2018-12-20T12:08:33.387Z",
        "mtime": "2018-12-20T12:08:33.387Z",
        "size": 342
      },
      {
        "file": "assets/css/components/_post-grid-item.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 2223
      },
      {
        "file": "assets/images/arrow.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 518
      },
      {
        "file": "templates/components/esthers_test.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 161
      },
      {
        "file": "templates/components/expertise.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1451
      },
      {
        "file": "templates/components/what_do_you_need.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1546
      },
      {
        "file": "assets/css/components/_what_do_you_need.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 3868
      },
      {
        "file": "templates/components/why.php",
        "ctime": "2018-12-20T09:43:37.001Z",
        "mtime": "2018-12-20T09:43:37.001Z",
        "size": 2732
      },
      {
        "file": "templates/components/what_have_we_done.php",
        "ctime": "2018-12-18T14:35:14.860Z",
        "mtime": "2018-12-18T14:35:14.860Z",
        "size": 1378
      },
      {
        "file": "templates/components/meet_person.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1187
      },
      {
        "file": "templates/components/doers.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1247
      },
      {
        "file": "assets/css/_waitme.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 28494
      },
      {
        "file": "assets/images/arrow-left.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 231
      },
      {
        "file": "assets/images/arrow-right.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 331
      },
      {
        "file": "assets/images/bullet.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 210
      },
      {
        "file": "assets/js/waitMe.js",
        "ctime": "2018-12-18T12:46:00.346Z",
        "mtime": "2018-12-18T12:46:00.346Z",
        "size": 9073
      },
      {
        "file": "assets/css/components/_u-need.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 3868
      },
      {
        "file": "assets/css/layout/_grid.css",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 336
      },
      {
        "file": "assets/css/pages/_single-author.css",
        "ctime": "2018-12-18T12:46:00.338Z",
        "mtime": "2018-12-18T12:46:00.338Z",
        "size": 0
      },
      {
        "file": "libs/rest-controller.class.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2040
      },
      {
        "file": "templates/components/who_we_are.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 398
      },
      {
        "file": "templates/components/some_of_our_experts.php",
        "ctime": "2018-12-18T15:05:51.234Z",
        "mtime": "2018-12-18T15:05:51.234Z",
        "size": 2394
      },
      {
        "file": "assets/images/down-arrow.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 226
      },
      {
        "file": "assets/images/right-arrow.png",
        "ctime": "2018-12-18T12:46:00.346Z",
        "mtime": "2018-12-18T12:46:00.346Z",
        "size": 175
      },
      {
        "file": "assets/css/components/_who_we_are.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 867
      },
      {
        "file": "templates/components/partners.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1087
      },
      {
        "file": "assets/css/components/_partners.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 2196
      },
      {
        "file": "templates/components/skill_top.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 2424
      },
      {
        "file": "templates/components/take_a_class.php",
        "ctime": "2018-12-18T14:34:09.476Z",
        "mtime": "2018-12-18T14:34:09.476Z",
        "size": 2538
      },
      {
        "file": "assets/images/9.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 287812
      },
      {
        "file": "templates/components/who_we_are_inner.php",
        "ctime": "2018-12-18T16:41:04.268Z",
        "mtime": "2018-12-18T16:41:04.268Z",
        "size": 3719
      },
      {
        "file": "templates/components/tips.php",
        "ctime": "2018-12-20T19:50:42.565Z",
        "mtime": "2018-12-20T19:50:42.565Z",
        "size": 696
      },
      {
        "file": "assets/css/components/posts/_image.css",
        "ctime": "2018-12-18T12:46:00.326Z",
        "mtime": "2018-12-18T12:46:00.326Z",
        "size": 30
      },
      {
        "file": "templates/components/posts/image.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 271
      },
      {
        "file": "assets/images/2bakgrund.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 851988
      },
      {
        "file": "assets/images/3.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 590
      },
      {
        "file": "assets/images/4.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 339
      },
      {
        "file": "assets/images/5.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 521
      },
      {
        "file": "assets/images/facebook.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 230
      },
      {
        "file": "assets/images/conversation-icon.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 267
      },
      {
        "file": "assets/images/mail-icon.png",
        "ctime": "2018-12-18T12:46:00.342Z",
        "mtime": "2018-12-18T12:46:00.342Z",
        "size": 521
      },
      {
        "file": "assets/images/phones-icon.png",
        "ctime": "2018-12-18T12:46:00.346Z",
        "mtime": "2018-12-18T12:46:00.346Z",
        "size": 615
      },
      {
        "file": "templates/components/contact-row.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 1294
      },
      {
        "file": "single-skill.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 727
      },
      {
        "file": "single-service.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 727
      },
      {
        "file": "single-employee.php",
        "ctime": "2018-12-18T12:46:00.350Z",
        "mtime": "2018-12-18T12:46:00.350Z",
        "size": 727
      },
      {
        "file": "assets/css/_swiper.css",
        "ctime": "2018-12-18T13:13:39.032Z",
        "mtime": "2018-12-18T13:13:39.032Z",
        "size": 22788
      },
      {
        "file": "assets/images/mov_bbb.mp4",
        "ctime": "2018-12-18T12:46:00.346Z",
        "mtime": "2018-12-18T12:46:00.346Z",
        "size": 788493
      },
      {
        "file": "assets/js/swiper.min.js",
        "ctime": "2018-12-18T13:14:21.060Z",
        "mtime": "2018-12-14T18:48:09.000Z",
        "size": 125297
      },
      {
        "file": "assets/js/contact-form.js",
        "ctime": "2018-12-18T16:19:06.355Z",
        "mtime": "2018-12-18T16:19:06.355Z",
        "size": 1103
      },
      {
        "file": "assets/images/f.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.434Z",
        "size": 278
      },
      {
        "file": "assets/images/ig.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.434Z",
        "size": 634
      },
      {
        "file": "assets/images/in.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.434Z",
        "size": 372
      },
      {
        "file": "assets/images/mail.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.434Z",
        "size": 466
      },
      {
        "file": "assets/images/map.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.438Z",
        "size": 531652
      },
      {
        "file": "assets/images/phone.png",
        "ctime": "2018-12-18T16:10:02.255Z",
        "mtime": "2018-12-18T12:45:57.438Z",
        "size": 664
      },
      {
        "file": "assets/images/profile.png",
        "ctime": "2018-12-18T16:10:02.259Z",
        "mtime": "2018-12-18T12:45:57.438Z",
        "size": 499
      },
      {
        "file": "templates/components/numbers_big.php",
        "ctime": "2018-12-20T10:40:34.963Z",
        "mtime": "2018-12-20T10:40:34.963Z",
        "size": 656
      },
      {
        "file": "assets/images/8.png",
        "ctime": "2018-12-20T15:01:15.731Z",
        "mtime": "2018-12-18T12:45:57.438Z",
        "size": 1969
      },
      {
        "file": "assets/images/dropdownarrow.png",
        "ctime": "2018-12-20T15:53:13.986Z",
        "mtime": "2018-12-18T12:45:57.434Z",
        "size": 541
      },
      {
        "file": "templates/components/posts/take_a_class.php",
        "ctime": "2018-12-20T17:40:30.121Z",
        "mtime": "2018-12-20T17:40:30.121Z",
        "size": 2538
      },
      {
        "file": "templates/components/posts/continue_reading.php",
        "ctime": "2018-12-20T17:41:16.064Z",
        "mtime": "2018-12-20T17:41:16.064Z",
        "size": 617
      },
      {
        "file": "templates/components/posts/author_and_social.php",
        "ctime": "2018-12-20T17:41:18.540Z",
        "mtime": "2018-12-20T17:41:18.540Z",
        "size": 2649
      },
      {
        "file": "templates/components/map_contact_form.php",
        "ctime": "2018-12-20T19:03:04.612Z",
        "mtime": "2018-12-20T19:03:04.612Z",
        "size": 2452
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"],\"autoCompile\":true,\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"typescript\",\"ts\"],\"replaceSegmentsWith\":\"js\",\"relative\":\"\"},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-typescript\":{\"enabled\":true}}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"],\"compiler-jpg\":{\"enabled\":true,\"originalSize\":0,\"newSize\":0}}"
}