* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: inherit;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 1px; }

header {
  background-color: #FFF;
  min-height: 40px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #E0E1E2; }
  header .logo {
    background-color: #fff;
    height: 100%; }
    header .logo img {
      background-color: #000;
      width: 20%;
      height: 100%; }
  header ul {
    margin-left: auto;
    width: 800px;
    text-transform: uppercase;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7; }
    header ul li:hover {
      opacity: 0.6;
      cursor: pointer; }

.first-section {
  min-height: 350px;
  background: url(../img/who-we-are/1.png) no-repeat 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .first-section .text-1 {
    background: transparent;
    font-size: 55px;
    font-weight: 500;
    color: white;
    letter-spacing: 3px; }
  .first-section .text-2 {
    background: transparent;
    font-size: 52px;
    font-weight: 700;
    color: #f9cf01;
    letter-spacing: 1px; }

.second-section {
  background-color: #3169ce;
  padding-top: 30px;
  padding-bottom: 30px; }
  .second-section .bar-content {
    background-color: inherit;
    min-height: 70px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white; }
    .second-section .bar-content .connect {
      -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
      flex: 1.2;
      background-color: inherit;
      border-right: 1px solid #5b8bdf;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 35px;
      font-weight: 500; }
    .second-section .bar-content .media {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .second-section .bar-content .media:hover {
        opacity: 0.8;
        cursor: pointer; }
      .second-section .bar-content .media img {
        background-color: inherit;
        padding-left: 60px;
        padding-right: 40px; }
      .second-section .bar-content .media .social-media {
        background-color: inherit;
        line-height: 25px; }
        .second-section .bar-content .media .social-media .name {
          background-color: inherit;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600; }
        .second-section .bar-content .media .social-media .follow {
          background-color: inherit;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0px; }

.third-section {
  padding-right: 120px;
  padding-left: 120px;
  height: 610px;
  background: #a5c5d1 url(../img/who-we-are/2.png) no-repeat;
  background-position: 0 15.4%; }
  .third-section .texts {
    background: transparent;
    height: 360px;
    width: 500px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 125px; }
    .third-section .texts .t1 {
      font-size: 40px;
      font-weight: 300; }
    .third-section .texts .t2 {
      font-size: 26px;
      font-weight: 500; }
    .third-section .texts .t3 {
      font-size: 20px;
      font-weight: 300;
      line-height: 30px; }

.fourth-section {
  background-color: #0a1b3b;
  height: 170px; }
  .fourth-section .content {
    padding-top: 55px;
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .fourth-section .content .big-bar-text {
      background-color: transparent;
      color: #fff;
      text-align: center; }
      .fourth-section .content .big-bar-text .big-text {
        background-color: transparent;
        font-size: 60px;
        padding-bottom: 10px; }
      .fourth-section .content .big-bar-text .small-text {
        background-color: transparent;
        font-size: 20px; }

.green-bar-divider .top {
  height: 55px;
  width: 100%;
  background-color: #0a1b3b; }
  .green-bar-divider .top .bar {
    background-color: inherit;
    height: 100%;
    width: 50%;
    border-right: 1px solid #4da953; }

.green-bar-divider .bottom {
  height: 55px;
  width: 100%;
  background-color: white; }
  .green-bar-divider .bottom .bar {
    background-color: inherit;
    height: 100%;
    width: 50%;
    border-right: 1px solid #4da953; }

.experts {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1140px;
  font-size: 40px;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 125px; }
  .experts .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 40px; }
    .experts .boxes .expert-box {
      height: 460px;
      width: 31.58%;
      position: relative; }
      .experts .boxes .expert-box .yellow {
        height: 80px;
        width: 75%;
        position: absolute;
        top: 170px;
        background-color: #ffce06;
        color: white;
        text-align: start;
        padding-left: 10px; }
        .experts .boxes .expert-box .yellow .name {
          font-size: 25px;
          font-weight: 500;
          padding-top: 10px;
          padding-bottom: 3px; }
        .experts .boxes .expert-box .yellow .position {
          font-size: 18px;
          font-weight: 400; }
      .experts .boxes .expert-box img {
        height: 270px;
        width: 100%; }
      .experts .boxes .expert-box .description {
        font-size: 20px;
        padding: 20px 0 0 0;
        line-height: 35px;
        opacity: 0.7; }
      .experts .boxes .expert-box .meet {
        display: block;
        margin-left: auto;
        margin-right: auto; }
        .experts .boxes .expert-box .meet a {
          font-size: 15px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          color: #3169ce; }
        .experts .boxes .expert-box .meet img {
          height: 15px;
          width: 15px; }
        .experts .boxes .expert-box .meet:hover {
          opacity: 0.7;
          cursor: pointer; }
  .experts .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    width: 270px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3169ce;
    border-radius: 50px;
    border: 2px solid #3169ce;
    margin-left: auto;
    margin-right: auto; }
    .experts .button img {
      padding-left: 20px; }
    .experts .button:hover {
      opacity: 0.6;
      cursor: pointer; }

#section-5 {
  min-height: 530px;
  background-color: #f9fafb;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  padding-top: 150px; }
  #section-5 .three-images {
    width: 1140px;
    padding-top: 70px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #section-5 .three-images .three-photos {
      width: 31.5%;
      height: 413px;
      border: 3px solid transparent; }
      #section-5 .three-images .three-photos:hover {
        cursor: pointer;
        border: 3px solid #4ca852;
        -webkit-transition-duration: 0.1s;
        -o-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
      #section-5 .three-images .three-photos .image-container {
        height: 210px;
        border-right: 1px solid #E0E1E2;
        border-top: 1px solid #E0E1E2;
        border-left: 1px solid #E0E1E2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #section-5 .three-images .three-photos .image-container img {
          height: 55%;
          width: auto; }
      #section-5 .three-images .three-photos .text-under-image {
        padding: 0 20px 45px 20px;
        border-right: 1px solid #E0E1E2;
        border-bottom: 1px solid #E0E1E2;
        border-left: 1px solid #E0E1E2; }
        #section-5 .three-images .three-photos .text-under-image .tui-subject {
          text-transform: uppercase;
          padding-top: 10px;
          font-size: 22px;
          font-weight: 500; }
        #section-5 .three-images .three-photos .text-under-image .tui-bread {
          margin-top: 30px;
          opacity: 0.7;
          line-height: 30px;
          font-size: 20px; }

.green-bar-divider-2 .top {
  height: 55px;
  width: 100%;
  background-color: #f9fafb; }
  .green-bar-divider-2 .top .bar {
    background-color: inherit;
    height: 100%;
    width: 50%;
    border-right: 1px solid #4da953; }

.green-bar-divider-2 .bottom {
  height: 55px;
  width: 100%;
  background-color: #f9fafb; }
  .green-bar-divider-2 .bottom .bar {
    background-color: inherit;
    height: 100%;
    width: 50%;
    border-right: 1px solid #4da953; }

.why {
  height: 630px;
  padding-bottom: 150px;
  background-color: #f9fafb; }
  .why .head {
    background-color: inherit;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 90px;
    padding-bottom: 80px; }
  .why .info {
    background-color: inherit;
    min-height: 415px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto; }
    .why .info .image {
      position: absolute;
      height: 415px; }
      .why .info .image img {
        height: 100%; }
    .why .info .yellow-and-button {
      position: absolute;
      width: 750px;
      background-color: transparent;
      margin-top: 39px;
      left: 34%;
      margin-bottom: 90px; }
      .why .info .yellow-and-button .yellow {
        background: #ffce06 url(../img/skill/8.png) no-repeat 6% 20%;
        color: white;
        letter-spacing: 1px; }
        .why .info .yellow-and-button .yellow .text {
          background: transparent;
          padding: 34px 40px 0 130px;
          font-style: italic;
          font-size: 18px;
          line-height: 30px; }
        .why .info .yellow-and-button .yellow .border {
          border-bottom: 1px solid #e3be43;
          margin: 20px 0 15px 130px;
          width: 136px; }
        .why .info .yellow-and-button .yellow .name {
          background: transparent;
          background: transparent;
          padding: 0 40px 30px 130px;
          font-weight: 600;
          font-size: 17px;
          line-height: 30px;
          text-transform: uppercase; }
      .why .info .yellow-and-button .button {
        float: right;
        height: 60px;
        width: 300px;
        background-color: #3169ce;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        right: 12%;
        font-size: 18px;
        color: white; }
        .why .info .yellow-and-button .button:hover {
          opacity: 0.7;
          cursor: pointer; }

footer {
  background-color: #1f2737;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  footer .content {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .content object {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 100px;
      width: 200px;
      background-color: #1f2737; }
    footer .content .footer-text-box {
      padding-left: 27%;
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5;
      background-color: #1f2737;
      height: 130px;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      footer .content .footer-text-box .text-1 {
        background-color: #1f2737;
        line-height: 30px;
        height: 100%;
        color: white;
        min-width: 100px; }
        footer .content .footer-text-box .text-1 h1 {
          background-color: #1f2737;
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 600; }
        footer .content .footer-text-box .text-1 p {
          background-color: #1f2737; }
      footer .content .footer-text-box .text-2 {
        background-color: #1f2737;
        line-height: 30px;
        height: 100%;
        color: white;
        min-width: 150px; }
        footer .content .footer-text-box .text-2 h1 {
          background-color: #1f2737;
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 600; }
        footer .content .footer-text-box .text-2 p {
          background-color: #1f2737; }
      footer .content .footer-text-box .text-3 {
        background-color: #1f2737;
        line-height: 30px;
        height: 100%;
        color: white; }
        footer .content .footer-text-box .text-3 h1 {
          background-color: #1f2737;
          padding-bottom: 10px;
          font-size: 18px;
          font-weight: 600; }
        footer .content .footer-text-box .text-3 p {
          background-color: #1f2737;
          padding-bottom: 4px; }
        footer .content .footer-text-box .text-3 .social-media-logos {
          background-color: #1f2737;
          height: 50px;
          width: 110px;
          float: left; }
          footer .content .footer-text-box .text-3 .social-media-logos .social-media-links {
            background-color: #1f2737;
            position: relative;
            display: inline-block; }
            footer .content .footer-text-box .text-3 .social-media-logos .social-media-links:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0; }
            footer .content .footer-text-box .text-3 .social-media-logos .social-media-links:hover {
              opacity: 0.8; }
            footer .content .footer-text-box .text-3 .social-media-logos .social-media-links object {
              height: 40px;
              width: 40px;
              padding: 10px 10px 0 0; }
