//Component margins
.component{
    padding-top: $component;
    padding-bottom: $component;
    background: #FFF;
}
#component_0{
    margin-top: $header-margin;
    padding-top: 0;
} 
.numbers{
    padding: 0;
}
.newsletter{
    padding: 0;
}


