//Component margins
.component{
    padding-top: $component;
    padding-bottom: $component;
    background: #FFF;
}
#component_0{
    margin-top: $header-margin;
    padding-top: 0;
} 
// Remove padding from components
.numbers, 
.full-image, 
.newsletter, 
.blog-filters,
.green-line,
.what_do_you_need,
.what_have_we_done,
.take_a_class,
.meet_person{
    padding: 0;
}
      
