
*{
    font-family: $font-family;
    word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6{
   // font-weight: $bold-weight;
    font-family: $font-family-header;
   // color: $black;

}

a{
    color: inherit;
    text-decoration: none;
}
.underline{
    text-decoration: underline;
}
.bold{
    font-weight: $bold-weight;
}
a.overlay-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
