* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: inherit;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

$pad-side: 18.7%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;
$link-blue: #B6CAE8;

@mixin borders{
    border: 1px solid #000;
}

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side;
}

@mixin three-links-mall {
    
    word-spacing: 10px;
    a {
        border: 1px solid transparent;
        border-radius: 50px;
        text-decoration: none;
        padding: 1px 4px 1px 4px;
        background-color: $link-blue;
        color: white;
        font-size: 14px;
        &:hover {
            opacity: 0.7;
        }
    }
}

@mixin three-pix {
      
    .three-photos {
      
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            height: 260px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            
            padding: 30px 35px 35px 35px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-head {
                font-size: 22px;
            }
            .tui-date {
                opacity: 0.7;
                padding: 5px 0 20px 0;
            }
            .tui-links {
                padding-top: 5px;
                @include three-links-mall;
                a {
                    color: #3f4754;
                }
               
            }
        }
    }
}

@import 'header';

#section-1 {
    
    padding: 100px 0 0 0;
    @include side-pad;

    

    .ten-things {
       width: 100%;
        .head {
            font-size: 30px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .date-and-links {
            padding: 30px 0 45px 0;
            display: flex;
            border-bottom: 1px solid #E0E1E2;
            .date {
                opacity: 0.6;
                font-weight: 600;
                padding-right: 50px;
            }
            .three-links{
                @include three-links-mall();
                padding: 0;
            }
        }
    }
    .video {
        padding: 35px 0 35px 0;
        max-height: 374px;
        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
        img {
            width: 100%;
        }
    }
    .big-text {
        .top-text {
            opacity: 0.8;
            font-size: 23px;
            padding: 0 0 30px 0;
            line-height: 35px;
            font-weight: 600;
        }
        .mid-text {
            opacity: 0.4;
            font-size: 21px;
            padding: 0 0 30px 0;
            line-height: 30px;
            font-weight: 400;
        }
        .bottom-text {
            opacity: 0.4;
            font-size: 21px;
            padding: 0 0 30px 0;
            line-height: 30px;
            font-weight: 400;
        }
    }
    .two-images {
        display: flex;
        justify-content: space-between;
        max-height: 335px;
        img {
            height: 100%;
            width: 48.5%;
        }
    }
    .small-text {
        padding: 45px 0 10px 0;
        p {
            opacity: 0.4;
            font-size: 21px;
            padding: 0 0 30px 0;
            line-height: 30px;
            font-weight: 400;
        }
    }
}

#section-2 {
    max-height: 450px;
    img {
        width: 100%;
    }
   
}

#section-3 {
    min-height: 565px;
    @include side-pad;
    
    .texts {
        border-bottom: 3px solid #E0E1E2;
        .text-one {
            opacity: 0.4;
            font-size: 21px;
            padding: 35px 0 30px 0;
            line-height: 30px;
            font-weight: 400;
        }
        .text-two {
            opacity: 0.4;
            font-size: 21px;
            padding: 0 0 55px 0;
            line-height: 30px;
            font-weight: 400;
        }
    }
    .share-save {
        display: flex;
        padding: 40px 0 0 0;
        font-size: 20px;
        .share {
            flex: 1;
            .icons {
                display: flex;
                img {
                    padding: 15px 15px 0 0;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                } 
            }
        }
        .save {
            flex: 1.2;
            .icons {
                display: flex;
                img {
                    padding: 15px 20px 0 0;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                } 
            }
        }
    }
    
}

#section-4 {
    min-height: 470px;
    @include side-pad;    
    .profile {
       height: 100%;
       width: 100%;
       display: flex;
       .info {
           background-color: #f9fafb;
           width: 100%;
           padding: 50px 35px 20px 35px;
           .top {
               display: flex;
               background-color: inherit;
               width: 100%;
               padding-bottom: 25px;
                .title-name {
                    flex: 2;
                    background-color: inherit;
                        .title {
                            background-color: inherit;
                            padding: 0 0 10px 0;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .name {
                            background-color: inherit;
                            //padding: 0 0 15px 0;
                            font-size: 25px;
                            font-weight: 600;
                        }
                }
                .images {
                    flex: 1;
                    background-color: inherit;
                    padding-bottom: 5px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    img {
                        background-color: inherit;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                }
           }
           
           .about {
            background-color: inherit;
            //padding: 0 0 10px 35px;
            font-size: 17px;
            opacity: 0.4;
            line-height: 30px;
           }
       }
    }
}

#section-5 {
    max-height: 530px;
    .continue {
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 300;
    }
    .three-images {
        display: flex;
        @include three-pix();
    }
   
}

#section-6 {
    background-color: #f9fafb;
    min-height: 675px;
    padding-bottom: 110px;
    .text {
        background-color: inherit;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 40px;
        font-weight: 300;
    }
    .class-info {
        background-color: inherit;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        .left-arrow {
            background-color: inherit;
            padding-top: 10%;
            padding-left: 55px;
            width: 8.3%;
            img {
                width: 12px;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        .right-arrow {
            background-color: inherit;
            padding-top: 10%;
            padding-left: 125px;
            width: 3.66%;
            img {
                width: 12px;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
        img {
            width: 37%;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .info {
            min-height: 410px;
            img {
                width: 100%;
                
            }
            width: 39%;
            background-color: inherit;
            padding-right: 40px;
            .info-1 {
                background-color: inherit;
                font-size: 25px;
                padding-bottom: 50px;
            }
            .info-2 {
                background-color: inherit;
                font-size: 20px;
                line-height: 25px;
                padding-bottom: 30px;
                padding-right: 50px;
                opacity: 0.4;
            }
            .info-3 {
                background-color: inherit;
                font-size: 20px;
                line-height: 25px;
                padding-bottom: 40px;
                padding-right: 50px;
                opacity: 0.4;
            }
            .box {
                background-color: $lighter-blue;
                height: 75px;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: white;
                font-size: 15px;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }
    
}

@import 'footer';