* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #fff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    background-color:inherit;
}

$pad-side: 12.5%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;
$link-blue: #B6CAE8;
$lightest-blue: #C2D2ED;
$gray-text: #3E4855;

@mixin borders{
    border: 1px solid #000;
}

@mixin big-container {
    padding-top: $pad-topnbottom;
    padding-bottom: $pad-topnbottom;
    @include side-pad;
}

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
  }
@mixin ten-things-text {
    border-bottom: 1px solid #E0E1E2;
    padding-bottom: 40px;
    .head {
        font-size: 30px;
        font-weight: 600;
    }
    .date {
        opacity: 0.6;
        padding: 5px 0 20px 0;
        font-weight: 600;
    }
    .bread {
        opacity: 0.5;
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 20px;
    }
    a {
        text-transform: uppercase;
        text-decoration: none;
        color: $lighter-blue;
        font-weight: 700;
        font-size: 14px;
        img {
            padding-left: 10px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
}
@mixin three-links-mall {
    word-spacing: 10px;
    a {
        border: 1px solid transparent;
        border-radius: 50px;
        text-decoration: none;
        padding: 1px 4px 1px 4px;
        background-color: $link-blue;
        color: #3f4754;
        font-size: 14px;
        &:hover {
            opacity: 0.7;
        }
    }
}

@mixin ten-things {
    .content{
        background-color: #fff;
        min-height: 350px;
        display: flex;
        .image-big-section {
            flex: 8.5;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .info-box {
            flex: 6;
            margin: 0 0 0 70px;

            .ten-things {
                @include ten-things-text;
            }
            .three-links {
                padding: 25px 0 10px 0;
                @include three-links-mall;
            }
        }
    }
}


@mixin three-pix {
      
    .three-photos {
        //height: 420px;
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            height: 260px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            height: 95px;
            padding: 30px 35px 35px 35px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-head {
                font-size: 22px;
            }
            .tui-date {
                opacity: 0.7;
                padding: 5px 0 20px 0;
            }
            .tui-links {
                word-spacing: 10px;
                @include three-links-mall();
            }
        }
    }
}

@mixin two-pix {
    padding: 10px 0 0 0;
        display: grid;
        grid-template-columns: 49.2% 49.2%;
        grid-column-gap: 1em;
        height: 400px;
        .two-photos {
            border: 3px solid transparent;
            &:hover {
                cursor: pointer;
                border: 3px solid #4ca852;
                transition-duration: 0.1s;
                transition-timing-function: ease-out;
            }
            .image-container {
                height: 260px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
             
            .text-under-image {
                padding: 30px 35px 35px 35px;
                border-right: 1px solid #E0E1E2;
                border-bottom: 1px solid #E0E1E2;
                border-left: 1px solid #E0E1E2;
                .tui-head {
                    font-size: 22px;
                }
                .tui-date {
                    opacity: 0.7;
                    padding: 5px 0 20px 0;
                }
                .tui-links {
                    word-spacing: 10px;
                    @include three-links-mall();
                }
            }
        }
}

@mixin bar-style {
    background-color: $lightest-blue;
    min-height: 60px;
    @include side-pad;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@import 'header';


.big-section {
    @include big-container;
    
    @include ten-things;
}

.small-bar-1 {
    @include bar-style;
    padding-top: 35px;
    padding-bottom: 35px;
   
    p {
        flex: 3;
        background-color: transparent;
        font-size: 30px;
        color: $gray-text;
    }
    form {
        flex: 2;
        //border: 2px solid $gray-text;
        height: 54px;
        width: 440px;
        display: flex;
        
        input[type=text]{    
            flex: 2;
            font-size: 20px;
            height: 50px;
            background-color: $lightest-blue;
            @include placeholder-color($gray-text);
            padding-left: 40px;
            border: 2px solid $gray-text;
            border-right: none;
            color: $gray-text;
            outline: none;
        }
        input[type=submit]{ 
            flex: 1;  
            height: 54px; 
            font-size: 15px;
            background-color: $lighter-blue;
            border: none;
            color: white; 
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover{
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

.big-section-2 {
    @include big-container;
    .content-2 {
        background-color: #fff;
        min-height: 420px;
        display: grid;
        grid-template-columns: 32.5% 32.5% 32.5%;
        grid-column-gap: 1.2%;
        @include three-pix;
    }
   
}

.big-bar {
    background-color: #0a1b3b;
    min-height: 225px;
    @include side-pad;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16% 0 16%;
    .big-bar-text {
        background-color: transparent;
        color: #fff;
        text-align: center;
        .big-text {
            background-color: transparent;
            font-size: 60px;
            padding-bottom: 10px;
        }
        .small-text {
            background-color: transparent;
            font-size: 20px;
        }
    }
}

.small-bar-2 {
    @include bar-style;
    padding-top: 35px;
    padding-bottom: 35px;
    p {
        cursor: default;
        flex: 1;
        background-color: transparent;
        font-size: 23px;
        color: $gray-text;
    }
    .selectors {
        flex: 4.3;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $lightest-blue;
        
        .select-box {
            
            height: 100%;
            width: 31%;
            border: 1px solid $gray-text;
            display: inline-block;
         
            
            select {
                background:
                linear-gradient(50deg, transparent 50%, $gray-text 50%),
                linear-gradient(-50deg, transparent 50%, $gray-text 50%),
                linear-gradient(to right, $lightest-blue, $lightest-blue);
                
                
              background-position:
                calc(100% - 21px) calc(1em + 2px),
                calc(100% - 16px) calc(1em + 2px),
                100% 0;
              background-size:
                5px 5px,
                5px 5px,
                2.5em 2.5em;
              background-repeat: no-repeat;
              background-color: $lightest-blue;
            
              /* styling and reset */
            
             
              
              line-height: 1.5em;
              padding: 0.5em 3.5em 0.5em 1em;
            
              /* reset */
            
              border-radius: 0;
              margin: 0;      
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              -webkit-appearance:none;
              -moz-appearance:none;

            //background:$lighter-blue url(dropdownarrow.png);
            
            //margin: 30px 0;
            padding: 10px 50px 10px 20px;
            height: 100%;
            width: 100%;
            font-size: 20px;
            color: $gray-text;
            font-weight: 300;
            border-radius: 0;
            outline: none;
            }
            
        }
    }
}

.grid-section {
    background-color: #fff;
    @include big-container;
    padding-top: 50px;
    padding-bottom: 15px;
    .grid {
        //height: 2350px;
        
    .first-row-grid {
        min-height: 420px;
        display: grid;
        grid-template-columns: 32.35%  32.35%  32.35%;
        grid-column-gap: 1.2%;
        @include three-pix;
    }
    .second-row-grid {
        padding-top: 15px;
        border: 3px solid transparent;
        display: flex;
        
        min-height: 340px;

        
        .image-grid-two {
            flex: 7;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .info-box-grid {
            padding: 35px 35px 15px 35px;
            background-color: #f9fafb;
            flex: 6;
            .ten-things {
                background-color: inherit;
                border-bottom: 1px solid #E0E1E2;
                padding-bottom: 40px;
                .head {
                    background-color: inherit;
                    font-size: 30px;
                    font-weight: 600;
                }
                .date {
                    background-color: inherit;
                    opacity: 0.6;
                    padding: 5px 0 20px 0;
                    font-weight: 600;
                }
                .bread {
                    background-color: inherit;
                    opacity: 0.5;
                    line-height: 30px;
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                a {
                    background-color: inherit;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $lighter-blue;
                    font-weight: 600;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .three-links {
                background-color: #f9fafb;
                padding-top: 30px;
                padding-bottom: 15px;
                @include three-links-mall()
            }
        }
        
        
    }
    .third-row-grid {
        @include two-pix;
    }
    .fourth-row-grid {
        padding-top: 30px;
        min-height: 420px;
        display: grid;
        grid-template-columns: 32.3%  32.3%  32.3%;
        grid-column-gap: 1.2%;
        @include three-pix;
    }
    .fifth-row-grid {
        @include two-pix;
    }
    .sixth-row-grid {
        border: 3px solid transparent;
        padding: 30px 0 0 0;
        display: flex;
        
        min-height: 360px;
        .image-grid-two {
            flex: 7;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .info-box-grid {
            padding: 35px 35px 15px 35px;
            background-color: #f9fafb;
            flex: 6;
            .ten-things {
                background-color: inherit;
                border-bottom: 1px solid #E0E1E2;
                padding-bottom: 40px;
                .head {
                    background-color: inherit;
                    font-size: 30px;
                    font-weight: 600;
                }
                .date {
                    background-color: inherit;
                    opacity: 0.6;
                    padding: 5px 0 20px 0;
                    font-weight: 600;
                }
                .bread {
                    background-color: inherit;
                    opacity: 0.5;
                    line-height: 30px;
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                a {
                    background-color: inherit;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $lighter-blue;
                    font-weight: 600;
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
            .three-links {
                background-color: #f9fafb;
                padding-top: 30px;
                padding-bottom: 15px;
                @include three-links-mall()
            }
        }
    }
        
    }
}

@import 'footer';

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}