* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #fff;
    //font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-family: Montserrat, sans-serif;
    background-color:inherit;
}

$pad-side: 12%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side
}

@mixin borders{
    border: 1px solid #000;
}

@import 'header';

 .map-and-contact {
     max-height: 800px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     .map {
        width: 740px;
        height: 800px;
        img {
            width: 100%;
            height: 100%;
        }
     }
     .contact-fill {
        width: 37%;
        padding: 100px 0 100px 0;
        //margin-right: 85px;
        margin: auto auto;
        .head {
            width: 100%;
            font-size: 34px;
            font-weight: 500;
        }
        .bread {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 30px;
            font-size: 17px;
            font-weight: 500;
            line-height: 30px;
            opacity: 0.5;
        }
        .box {
            height: 55px;
            width: 100%;
            background-color: #f0f1f2;
            border: 1px solid #E0E1E2;
            margin-bottom: 5px;
            display: flex;
            input {
                width: 80%;
                height: 100%;
                margin: 0 0 0 10%;
                font-size: 15px;
                font-weight: 500;
                background-color: inherit;
                border: none;
                outline: none;
            }
            .image-holder {
                width: 18%;
                background-color: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    background-color: inherit;
  
                }
            }
            
        }
        .box-big {
            height: 165px;
            width: 100%;
            background-color: #f0f1f2;
            border: 1px solid #E0E1E2;
       
            margin-bottom: 20px;
            
      
            textarea {
                height:80%;
                width: 89%;
                background-color: inherit;
                border: none;
                outline: none;
                font-size: 15px;
                font-weight: 500;
                margin: 20px 1% 20px 10%;
                overflow-y: scroll;
                
                display: inline;
                resize: none;
            }
        }
        .skicka {
            text-transform: uppercase;
            height: 65px;
            width: 180px;
            background-color: #336dd6;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 17px;
            font-weight: 700;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
     } 
 }

 .bar {
     background-color: #c2d2ed;
     padding-top: 30px;
     padding-bottom: 30px;
     .bar-content {
         background-color: inherit;
         height: 70px;
         width: 1140px;
         margin: auto auto;
         display: flex;
         color: $darker-blue;
         .connect {
            flex: 1;
            background-color: inherit;
            border-right: 1px solid #adbed6;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-weight: 500;
         }
         .media-boxes {
            flex: 3;
            background-color: inherit;
            display: flex;
            justify-content: space-around;
            .media {
                background-color: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
                .image {
                    background-color: inherit;
                    padding-left: 60px;
                    padding-right: 40px;
                    }
                    img {
                        height: 25px;
                   
                        background-color: inherit;
                        
                }
                
                .social-media {
                    background-color: inherit;
                    .name {
                        background-color: inherit;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                    .follow {
                        background-color: inherit;
                        font-size: 22px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
             }
         }
     }
 }


 @import 'footer';

 @media (max-width: 1140px) {
     @import 'header-mobile';

     .map-and-contact {
        flex-direction: column;
        max-height: 1640px;
        .map {
            max-width: 750px;
            height: 800px;
            img {
                width: 100%;
            }
        }
        .contact-fill {
            width: 675px;
            margin: auto auto;
            padding: 40px 0 85px 0;
            margin: 0;
            .head {
                font-size: 50px;
                font-weight: 400;
            }
            .bread {
                padding-top: 15px;
                padding-bottom: 50px;
                font-weight: 500;
                font-size: 20px;
                line-height: 35px;
            }
            .box {
                height: 55px;
                width: 100%;
                background-color: #f0f1f2;
                border: 1px solid #E0E1E2;
                margin-bottom: 5px;
                display: flex;
                input {
                    font-size: 17px;
                }
            }
            .box-big {
                textarea {
                    font-size: 17px;
                }
            }
            .skicka {
                height: 85px;
                width: 250px;
                font-size: 25px;
                font-weight: 600;
            }
        }
     }
     .bar {
         padding: 0;
         padding-top: 60px;
         .bar-content {
             flex-direction: column;
             align-items: center;
             min-height: 225px;
             width: 750px;
             margin: auto auto;
             .connect {
                border: 0;
                font-size: 36px;
                font-weight: 600;
             }
             .media-boxes {
                //padding: 0 25px 0 25px;
                width: 695px;
                .media {
                    .image {
                        padding-left: 0;
                    }
                }
             }
         }
     }
     @import 'footer-mobile';
 }