* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #fff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

$pad-side: 12%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;
$yellow: #f9cf01;
$green: #4da953;

@mixin borders{
    border: 1px solid #000;
}

@mixin big-container {
    padding-top: $pad-topnbottom;
    padding-bottom: $pad-topnbottom;
    @include side-pad;
}

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side
}

@mixin three-pix {
      
    .three-photos {
      
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            max-height: 260px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            
            padding: 30px 35px 35px 35px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-head {
                font-size: 22px;
            }
            .tui-date {
                opacity: 0.7;
                padding: 5px 0 20px 0;
            }
            .tui-links {
                word-spacing: 10px;

                a {
                    text-decoration: none;
                    color: $lighter-blue;
                &:hover {
                    opacity: 0.6;
                }
                }
            }
        }
    }
}

@mixin bar-style {
    background-color: $lighter-blue;
    min-height: 60px;
    @include side-pad;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #FFF;
    min-height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
 
    border-bottom: 1px solid #E0E1E2;
    .logo {
         flex: 4;
         background-color: #fff;
         height: 100%;
         img {
             background-color: #000;
             width: 20%;
             height: 100%;
             }
         }
     ul {
         flex: 5;
         text-transform: uppercase;
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         font-size: 14px;
         font-weight: 600;
         opacity: 0.7;
         li:hover {
             opacity: 0.6;
             cursor: pointer;
         }
     }
 }

.first-section {
    min-height: 350px;
    background: url(/img/skill/1.png) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-1 {
        background: transparent;
        font-size: 55px;
        font-weight: 700;
        color: $yellow;
        margin-bottom: 20px;
    }
    .text-2 {
        background: transparent;
        font-size: 35px;
        font-weight: 600;
        color: white;
    }
}

.second-section {
    background-color: $lighter-blue;
    padding-top: 30px;
    padding-bottom: 30px;
    @include side-pad();
    .bar-content {
        background-color: inherit;
        min-height: 70px;
        display: flex;
        color: white;
        .connect {
           flex: 1.2;
           background-color: inherit;
           border-right: 1px solid #5b8bdf;
           display: flex;
           align-items: center;
           font-size: 35px;
           font-weight: 500;
        }
        .media {
           flex: 1;
           background-color: inherit;
           display: flex;
           justify-content: center;
           align-items: center;
           &:hover {
               opacity: 0.8;
               cursor: pointer;
           }
           img {
               background-color: inherit;
               padding-left: 60px;
               padding-right: 40px;
           }
           .social-media {
               background-color: inherit;
               line-height: 25px;
               .name {
                   background-color: inherit;
                   text-transform: uppercase;
                   font-size: 14px;
                   font-weight: 600;
               }
               .follow {
                   background-color: inherit;
                   font-size: 22px;
                   font-weight: 600;
               }
           }
        }
    }
}

.third-section {
    @include side-pad();
    
    .border-top {
        height: 90px;
        width: 50%;
        border-right: 1px solid $green;
    }
    .content {
        min-height: 460px;
        display: flex;
        justify-content: space-between;
        .image {
            flex: 1;
        }
        .text {
            flex: 1;
            margin-top: 80px;
            .head {
                font-size: 35px;
                font-weight: 300;
                letter-spacing: 3px;
                margin-bottom: 30px;
            }
            .subhead {
                margin-bottom: 30px;
                font-size: 24px;
                letter-spacing: 3px;
                font-weight: 500;
            }
            ul {
                margin-left: 50px;
                line-height: 30px;
                list-style-image: url(/img/skill/bullet.png);
               li {
                   color: #89898a;
                   font-size: 20px;
                   font-weight: 300;
                   text-indent: 15px;
               }
            }
            .boxes {
                display: flex;
                margin-top: 30px;
                text-transform: uppercase;
                .box-1 {
                    height: 50px;
                    width: 145px;
                    border: 2px solid transparent;
                    background-color: $lighter-blue;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                .box-2 {
                    height: 50px;
                    width: 145px;
                    border: 2px solid $lighter-blue;
                    color: $lighter-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    &:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
}


.fourth-section {
    background-color: #0a1b3b;
    min-height: 170px;
    @include side-pad;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 16% 0 16%;
    .big-bar-text {
        background-color: transparent;
        color: #fff;
        text-align: center;
        .big-text {
            background-color: transparent;
            font-size: 60px;
            padding-bottom: 10px;
        }
        .small-text {
            background-color: transparent;
            font-size: 20px;
        }
    }
}

.green-bar-divider {
    .top {
        height: 55px;
        width: 100%;
        background-color: #0a1b3b;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: white;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}

@mixin texts-in-boxes {
    .texts {
        padding-left: 40%;
        padding-top: 60px;
        padding-right: 10%;
        background: transparent;
        .texts-1 {
            background: transparent;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 1px;
            padding-bottom: 15px;
        }
        .texts-2 {
            background: transparent;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 25px;
            font-weight: 300;
        }
    }
}

.u-need {
    @include side-pad;
    height: 460px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    p {
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 4px;
    }
    .boxes {
        height: 195px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .box-1 {
            height: 100%;
            width: 32.9%;
            border: 1px solid #E0E1E2;
            background: url(/img/skill/cog-green.png) no-repeat -25% 150%;
            @include texts-in-boxes();
            &:hover {
                background: #4da953 url(/img/skill/cog-white.png) no-repeat -25% 150%;
                color: white;
                cursor: pointer;
            }   
        }
        .box-2 {
            height: 100%;
            width: 32.9%;
            border: 1px solid #E0E1E2;
            background: url(/img/skill/brain-green.png) no-repeat -12% 120%;
            @include texts-in-boxes();
            &:hover {
                background: #4da953 url(/img/skill/brain-white.png) no-repeat -12% 120%;
                color: white;
                cursor: pointer;
            }   
        }
        .box-3 {
            height: 100%;
            width: 32.9%;
            border: 1px solid #E0E1E2;
            background: url(/img/skill/chat-green.png) no-repeat -20% 90%;
            @include texts-in-boxes();
            &:hover {
                background: #4da953 url(/img/skill/chat-white.png) no-repeat -20% 90%;
                color: white;
                cursor: pointer;
            }   
        }
    }
}



.take-a-class {
    @include side-pad();
    min-height: 600px;
    background-color: #f9fafb;
    padding-top: 130px;
    .head {
        background-color: inherit;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 2px;   
        margin-bottom: 50px;
    }
    .text-and-image {
        background-color: inherit;
        height: 100%;
        display: flex;
        .image {
            flex: 1;
            background-color: inherit;
            height: 100%;
            width: 100%;
            &:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
        .text {
            background-color: inherit;
            flex: 1;
            margin-right: 50px;
            .top {
                background-color: inherit;
                font-size: 26px;
            }
            .mid {
                background-color: inherit;
                font-size: 20px;
                margin-top: 35px;
                opacity: 0.4;
            }
            .bottom {
                background-color: inherit;
                font-size: 20px;
                margin-top: 35px;
                opacity: 0.4;
            }
            .button {
                background-color: inherit;
                margin-top: 35px;
                height: 70px;
                width: 260px;
                background-color: $lighter-blue;
                color: white;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
       
    }
}

@mixin three-pix {
      
    .three-photos {
      
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            height: 215px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            
            padding: 25px 20px 35px 20px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-subject {
                text-transform: uppercase;
            }
            .tui-head {
                font-size: 22px;
                margin-top: 10px;
            }
            .tui-bread {
                margin-top: 20px;
                opacity: 0.4;
                line-height: 30px;
                font-size: 20px;
            }
            
        }
    }
}

#section-5 {
    min-height: 530px;
    margin-top: 30px;
    margin-bottom: 95px;
    @include side-pad();
    .continue {
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 300;
    }
    .three-images {
        display: flex;
        @include three-pix();
    }
   
}

.green-bar-divider-2 {
    .top {
        height: 55px;
        width: 100%;
        background-color: white;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: #f9fafb;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}

.why {
    @include side-pad();
    height: 630px;
    padding-bottom: 150px;
    background-color: #f9fafb;
    .head {
        background-color: inherit;
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        padding-top: 90px;
        padding-bottom: 80px;
    }
    .info {
        background-color: inherit;
        min-height: 415px;
        .image {
            position: absolute;
            height: 415px;
            img {
                height: 100%;
            }
        }
        .yellow {
            position: absolute;
            height: 280px;
            width: 50%;
            margin-top: 39px;
            margin-left: 26%;
            margin-bottom: 90px;
            background: #f8ce47 url(/img/skill/8.png) no-repeat 6% 20%;
            color: white; 
            letter-spacing: 1px;
            .text {
                background: transparent;
                margin: 40px 40px 0 130px;
                font-style: italic;
                font-size: 18px;
                line-height: 30px;
                
            }
            .border {
                border-bottom: 1px solid #e3be43;
                margin: 20px 0 15px 130px;
                width: 136px;
            }
            .name {
                background: transparent;
                background: transparent;
                margin: 0 40px 0 130px;
  
                font-size: 18px;
                line-height: 30px;
                text-transform: uppercase;
            }
        }
        .button {
            height: 60px;
            width: 300px;
            background-color: $lighter-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: $pad-side;
            margin-top: 319px;
            text-transform: uppercase;
            color: white;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

}

 footer {
    background-color: #1f2737;
    height: 300px;
    @include side-pad;
    display: flex;
    align-items: center;
    object {
        flex: 1;
        height: 100px;
        width: 200px;
        background-color: #1f2737;
    }
    .footer-text-box {
        padding-left: 27%;
        flex: 5;
        background-color: $darker-blue;
        height: 130px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-1 {
            background-color: $darker-blue;
            line-height: 30px;
            height: 100%;
            color: white;
            min-width: 100px;
            h1 {
                background-color: $darker-blue;
                padding-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                background-color: $darker-blue;
            }
        }
        .text-2 {
            background-color: $darker-blue;
            line-height: 30px;
            height: 100%;
            color: white;
            min-width: 150px;
            h1 {
                background-color: $darker-blue;
                padding-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                background-color: $darker-blue;
            }
        }
        .text-3 {
            background-color: $darker-blue;
            line-height: 30px;
            height: 100%;
            color: white;
            
            h1 {
                background-color: $darker-blue;
                padding-bottom: 10px;
                font-size: 18px;
                font-weight: 600;
            }
            p {
                background-color: $darker-blue;
                padding-bottom: 4px;
            }
            .social-media-logos {
                background-color: $darker-blue;
                height: 50px;
                width: 110px;
                float: left;
               
                .social-media-links {
                    background-color: $darker-blue;
                    position: relative;
                    display: inline-block;
                    &:after {
                        content: ""; 
                        position: absolute; 
                        top: 0; 
                        right: 0; 
                        bottom: 0; 
                        left: 0;
                    }
                    &:hover {
                        opacity: 0.8;
                    }

                    object {
                        height: 40px;
                        width: 40px; 
                        padding: 10px 10px 0 0;
                    }
                }
            }
        }
    }
}