* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    letter-spacing: 1px;
    background-color:inherit;
    //font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-family: Montserrat, sans-serif;
}

$pad-side: 12%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;
$yellow: #f9cf01;
$green: #4da953;

@mixin borders{
    border: 1px solid #000;
}

@mixin big-container {
    padding-top: $pad-topnbottom;
    padding-bottom: $pad-topnbottom;
    @include side-pad;
}

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side
}

@mixin three-pix {
      
    .three-photos {
      
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            max-height: 260px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            
            padding: 30px 35px 35px 35px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-head {
                font-size: 22px;
            }
            .tui-date {
                opacity: 0.7;
                padding: 5px 0 20px 0;
            }
            .tui-links {
                word-spacing: 10px;

                a {
                    text-decoration: none;
                    color: $lighter-blue;
                &:hover {
                    opacity: 0.6;
                }
                }
            }
        }
    }
}

@mixin bar-style {
    background-color: $lighter-blue;
    min-height: 60px;
    @include side-pad;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@import 'header';

.first-section {
    min-height: 350px;
    background: url(../img/what-we-do/people.png) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text-1 {
        background: transparent;
        font-size: 45px;
        font-weight: 500;
        color: white;
        margin-bottom: 20px;
        span {
            color: $yellow;
            font-weight: 900;
        }
    }
}

.second-section {
    background-color: $lighter-blue;
    padding-top: 30px;
    padding-bottom: 30px;
    .mobile-text {display: none}
    .bar-content {
        background-color: inherit;
        min-height: 70px;
        display: flex;
        color: white;
        width: 1140px;
        margin: auto auto;
        .connect {
           padding-right: 80px;
           background-color: inherit;
           border-right: 1px solid #5b8bdf;
           display: flex;
           align-items: center;
           font-size: 28px;
           font-weight: 500;
        }
        .media {
           background-color: inherit;
           display: flex;
           justify-content: center;
           align-items: center;
           &:hover {
               opacity: 0.8;
               cursor: pointer;
           }
           img {
               background-color: inherit;
               padding-left: 60px;
               padding-right: 40px;
           }
           .social-media {
               background-color: inherit;
               line-height: 25px;
               .name {
                   background-color: inherit;
                   text-transform: uppercase;
                   font-size: 14px;
                   font-weight: 600;
               }
               .follow {
                   background-color: inherit;
                   font-size: 22px;
                   font-weight: 600;
               }
           }
        }
    }
}

.third-section {
    .border-top {
        height: 90px;
        width: 50%;
        border-right: 1px solid $green;
    }
    .content {
        width: 1140px;
        margin: auto auto;
        min-height: 460px;
        display: flex;
        //justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 2px;
            margin: 50px 0 60px 0;
        }
        .boxes {
            min-height: 350px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            margin-bottom: 90px;
            .box {
                height: 300px;
                width: 31%;
                border: 1px solid #E0E1E2;
                text-align: center;
                .t1 {
                    font-size: 25px;
                    font-weight: 600;
                    margin: 90px 40px 30px 40px;
                }
                .t2 {
                    font-size: 17px;
                    font-weight: 500;
                    opacity: 0.4;
                    line-height: 30px;
                    letter-spacing: 0.3px;
                    margin: 0 41px 30px 41px;
                }
            }
            .img-green-1 {
                position: absolute;
                top: 0px;
                left: 120px;
                height: 100px;
                width: 100px;
                background-color: #4da953;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-green-2 {
                position: absolute;
                top: 0px;
                left: 500px;
                height: 100px;
                width: 100px;
                background-color: #4da953;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-green-3 {
                position: absolute;
                top: 0px;
                left: 870px;
                height: 100px;
                width: 100px;
                background-color: #4da953;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}








@mixin texts-in-boxes {
    .texts {
        padding-left: 40%;
        padding-top: 60px;
        padding-right: 10%;
        background: transparent;
        .texts-1 {
            background: transparent;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 1px;
            padding-bottom: 15px;
        }
        .texts-2 {
            background: transparent;
            font-size: 16px;
            opacity: 0.6;
            letter-spacing: 0px;
            line-height: 25px;
            font-weight: 400;
        }
    }
}

.u-need {
    background-color: #f9fafb;
    height: 390px;
    padding-top: 140px;
    
    .content {
        width: 1140px;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            font-size: 35px;
            font-weight: 300;
            letter-spacing: 4px;
        }
        .boxes {
            height: 195px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            .box-1 {
                height: 100%;
                width: 32.9%;
                border: 1px solid #E0E1E2;
                background: url(../img/skill/cog-green.png) no-repeat -25% 150%;
                @include texts-in-boxes();
                &:hover {
                    background: #4da953 url(../img/skill/cog-white.png) no-repeat -25% 150%;
                    color: white;
                    cursor: pointer;
                }   
            }
            .box-2 {
                height: 100%;
                width: 32.9%;
                border: 1px solid #E0E1E2;
                background: url(../img/skill/brain-green.png) no-repeat -12% 120%;
                @include texts-in-boxes();
                &:hover {
                    background: #4da953 url(../img/skill/brain-white.png) no-repeat -12% 120%;
                    color: white;
                    cursor: pointer;
                }   
            }
            .box-3 {
                height: 100%;
                width: 32.9%;
                border: 1px solid #E0E1E2;
                background: url(../img/skill/chat-green.png) no-repeat -20% 90%;
                @include texts-in-boxes();
                &:hover {
                    background: #4da953 url(../img/skill/chat-white.png) no-repeat -20% 90%;
                    color: white;
                    cursor: pointer;
                }   
            }
        }
    }
    
}

.green-bar-divider {
    .top {
        height: 55px;
        width: 100%;
        background-color: #f9fafb;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: white;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}


@mixin three-pix {
      width: 1140px;
      margin: auto auto;
      display: flex;
      justify-content: space-between;
    .three-photos {
        width: 31.5%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            height: 215px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            height: 120px;
            padding: 25px 20px 35px 20px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-subject {
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
            }
            .tui-head {
                font-size: 19px;
                font-weight: 500;
                margin-top: 10px;
            }
            .tui-bread {
                margin-top: 20px;
                opacity: 0.4;
                line-height: 30px;
                font-size: 16px;
                font-weight: 500;
            }
            
        }
    }
}



.green-bar-divider-2 {
    .top {
        height: 55px;
        width: 100%;
        background-color: white;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: #f9fafb;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}

.why {
    
    height: 650px;
    padding-bottom: 150px;
    position: relative;
    .left-arrow {
        position: absolute;
        right: 55px;
        top: 440px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .right-arrow {
        position: absolute;
        left: 55px;
        top: 440px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .content {
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
        .head {
            background-color: inherit;
            text-align: center;
            font-size: 35px;
            font-weight: 300;
            padding-top: 130px;
            padding-bottom: 80px;
        }
        .info {
            background-color: inherit;
            min-height: 415px;
            position: relative;

            .image {
                position: absolute;
                height: 445px;
                img {
                    height: 100%;
                }
            }
            .image-mobile {display: none}
            .yellow-and-button {
                
                position: absolute;
                right: 0;
                top: 40px;
                width: 750px;
                background-color: transparent;
                
                .yellow {
                    background: #ffce06 url(../img/service-v2/8.png) no-repeat 6% 20%;
                    color: white; 
                    letter-spacing: 1px;
                    .text {
                        background: transparent;
                        padding: 34px 40px 0 130px;
                        font-style: italic;
                        font-size: 18px;
                        line-height: 30px;
                        
                    }
                    .text-mobile {display: none}
                    .border {
                        border-bottom: 1px solid #e3be43;
                        margin: 20px 0 15px 130px;
                        width: 136px;
                    }
                    .name {
                        background: transparent;
                        padding: 0 40px 30px 130px;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                }
                .button {
                    float: right;
                    height: 60px;
                    width: 300px;
                    background-color: $lighter-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //position: absolute;
                    right: $pad-side;
                    //margin-top: 319px;
                    font-size: 18px;
                    
                    color: white;
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#section-5 {
    min-height: 530px;
    margin-top: 40px;
    padding-bottom: 95px;
    background-color: #f9fafb;
    .continue {
        padding-top: 60px;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-weight: 300;
    }
    .three-images {
        display: flex;
        @include three-pix();
    }
}

.meet-employee {
    padding-top: 140px;
    padding-bottom: 100px;
    width: 100%;
    .background-fill {
        width: 1090px;
        margin: auto auto;
        position: relative;
        .image {
            height: 575px;
            width: 560px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .mobile-image {
            display: none;
        }
        .yellow-box {
            position: absolute;
            left: 470px;
            top: 190px;
            bottom: 255px;
            right: 0;
            //height: 130px;
            //width: 620px;
            background-color: #ffce06;
            color: white;
            .t1 {
                margin: 20px 60px 10px 70px;
                font-size: 34px;
                font-weight: 300;
            }
            .t2 {
                margin: 0 60px 50px 70px;
                font-size: 22px;
                font-weight: 600;
            }
        }
        .button {
            //float: right;
            height: 60px;
            width: 235px;
            background-color: $lighter-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 320px;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 0px;
            color: white;
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }    
}

@import 'footer';

@media (max-width: 1140px) {
    @import 'header-mobile';

    .first-section {
        min-height: 500px;
        background: black url(../img/what-we-do/people-mobile.png) no-repeat 0 0;
        background-position: center; 
        text-align: center;
        .text-2 {
            width: 750px;
        }
    }
    .second-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        .mobile-text {
            display: inline-block;
            font-size: 30px;
            color: white;
            font-weight: 500;
            padding-top: 50px;
            text-align: center;
        }
        .bar-content {
            min-height: 215px;
            width: 635px;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
            .connect { display: none}
            .media {
                flex-direction: column;
                align-items: flex-start;
                .image {
                    width: 100%;
                    padding-bottom: 15px;
                    img {
                        padding:0;
                    }
                }
                
            }
        }
    }
    .third-section {
        .content {
            width: 680px;
            margin-top: 50px;
            margin-bottom: 70px;
            p {
                font-size: 45px;
                font-weight: 300;
                letter-spacing: 2px;
                margin: 0 0 140px 0;
            }
            .boxes {
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-height: 980px;
                margin-bottom: 50px;
                .box {
                    width: 100%;
                    height: 260px;
                    .t1 {
                        font-size: 28px;
                        font-weight: 600;
                        margin: 85px 40px 20px 40px;
                    }
                    .t2 {
                        margin: 0 100px 30px 100px;
                        opacity: 0.5;
                        font-size: 20px;
                    }
                }
                .img-green-1 {
                    top: -50px;
                    left: 290px;
                }
                .img-green-2 {
                    top: 310px;
                    left: 290px;
                }
                .img-green-3 {
                    top: 665px;
                    left: 290px;
                }
            }
            
        }
    }
    .why {
        height: 860px;
        padding-bottom: 100px;
        .content {
            width: 545px;
            .head {
                background-color: inherit;
                text-align: center;
                font-size: 45px;
                font-weight: 400;
                padding-top: 100px;
                padding-bottom: 70px;
            }
            .info {
                position: relative;
                .image {display: none}
                .image-mobile {
                    display: inline;
                    position: absolute;
                    height: 415px;
                    img {
                        width: 100%;
                    }
                }
                .yellow-and-button {
                    margin: 0;
                    right: 3px;
                    top: 215px;
                    width: 430px;
                    .yellow {
                        background: #ffce06 url(../img/service-v2/8-mobile.png) no-repeat 4% 17%;
                        .text {display: none}
                        .text-mobile {
                            display: inline-block;
                            background: transparent;
                            padding: 30px 10px 20px 90px;
                            font-style: italic;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 25px;
                 
                        }
                        .border {
                            margin: 20px 0 0px 90px;
                            width: 100px;
                        }
                        .name {
                            padding: 10px 20px 40px 90px;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 22px;
                            text-transform: uppercase;
                        }
                    }
                    .button {
                        height: 80px;
                        width: 310px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    @mixin texts-in-boxes {
        .texts {
            padding-left: 30%;
            padding-top: 60px;
            padding-right: 10%;
            background: transparent;
            .texts-1 {
                background: transparent;
                font-weight: 600;
                font-size: 40px;
                letter-spacing: 1px;
                padding-bottom: 15px;
            }
            .texts-2 {
                background: transparent;
                font-size: 27px;
                letter-spacing: 1px;
                line-height: 25px;
                font-weight: 400;
            }
        }
    }

    .u-need {
        height: 1020px;
        padding-top: 100px;
        .content {
            width: 680px;
            p{
                font-size: 45px;
                font-weight: 300;
            }
            .boxes {
                flex-direction: column;
                height: 790px;
                .box-1{
                    width: 100%;
                    height: 255px;
                    background: url(../img/skill/cog-green-mobile.png) no-repeat -12% 160%;
                    background-size: 200px;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../img/skill/cog-white-mobile.png) no-repeat -12% 160%;
                        background-size: 200px;
                        color: white;
                        cursor: pointer;
                    }   
                }
                .box-2{
                    width: 100%;
                    height: 255px;
                    background: url(../img/skill/brain-green-mobile.png) no-repeat -10% 120%;
                    background-size: 170px;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../img/skill/brain-white-mobile.png) no-repeat -10% 120%;
                        background-size: 170px;
                        color: white;
                        cursor: pointer;
                    }   
                } 
                .box-3 {
                    width: 100%;
                    height: 255px;
                    background: url(../img/skill/chat-green-mobile.png) no-repeat -9% 90%;
                    background-size: 180px;
                    @include texts-in-boxes();
                    &:hover {
                        background: #4da953 url(../img/skill/chat-white-mobile.png) no-repeat -9% 90%;
                        background-size: 180px;
                        color: white;
                        cursor: pointer;
                    }   
                }
            }
        }
    }
    .green-bar-divider {display: none}
    #section-5 {
        min-height: 530px;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 100px;
        background-color: #f9fafb;
        .continue {
            height: 155px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            font-weight: 400;
            margin-top: 20px;
        }
        .three-images {
            display: flex;
            flex-direction: column;
            width: 680px;
            margin: auto auto;
            .three-photos {
                width: 100%;
                height: 580px;
                margin-bottom: 20px;
                .image-container {
                    height: 305px;
                }
                .text-under-image {
                    padding: 40px 20px 55px 20px;
                    height: 179px;
                    .tui-subject {
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .tui-head {
                        font-size: 30px;
                        font-weight: 500;
                        margin-top: 18px;
                    }
                    .tui-bread {
                        margin-top: 20px;
                        opacity: 0.6;
                        line-height: 40px;
                        font-size: 22px;
                    }
                }
            }

        }
    }
    .meet-employee {
        .background-fill {
            width: 675px;
            .image {display: none}
            .mobile-image {
                display: inline;
            }
            .yellow-box {
                top: 110px;
                right: 0px;
                left: 245px;
                bottom: 180px;
                .t1 {
                    margin: 30px 0 10px 70px;
                    font-size: 35px;
                    font-weight: 300;
                    line-height: 35px;
                }
                .t2 {
                    margin: 30px 0px 0px 70px;
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 600;
                }
            }
            .button {
                top: 330px;
                right: 0;
                font-weight: 500;
            }
        }
    }
    @import 'footer-mobile';
}