* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color:inherit;
    //font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-family: Montserrat, sans-serif;
}

$pad-side: 12%;
$pad-topnbottom: 100px;
$lighter-blue: #3169ce;
$darker-blue: #1f2737;
$yellow: #f9cf01;
$green: #4da953;
$baby-blue: #a5c5d1;

@mixin borders{
    border: 1px solid #000;
}

@mixin big-container {
    padding-top: $pad-topnbottom;
    padding-bottom: $pad-topnbottom;
    @include side-pad;
}

@mixin side-pad {
    padding-left: $pad-side;
    padding-right: $pad-side
}

@mixin three-pix {
      
    .three-photos {
      
        width: 100%;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            max-height: 260px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        
        .text-under-image {
            
            padding: 30px 35px 35px 35px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-head {
                font-size: 22px;
            }
            .tui-date {
                opacity: 0.7;
                padding: 5px 0 20px 0;
            }
            .tui-links {
                word-spacing: 10px;

                a {
                    text-decoration: none;
                    color: $lighter-blue;
                &:hover {
                    opacity: 0.6;
                }
                }
            }
        }
    }
}

@mixin bar-style {
    background-color: $lighter-blue;
    min-height: 60px;
    @include side-pad;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@import 'header';

.first-section {
    min-height: 350px;
    background: url(../img/who-we-are/1.png) no-repeat 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .text-1 {
        background: transparent;
        font-size: 45px;
        font-weight: 500;
        color: white;
        letter-spacing: 3px;
        width: 800px;
    }
    .text-2 {
        background: transparent;
        font-size: 45px;
        font-weight: 900;
        color: $yellow;
        letter-spacing: 1px;
    }
}

.second-section {
    background-color: $lighter-blue;
    padding-top: 30px;
    padding-bottom: 30px;
    .mobile-text {display: none}
    .bar-content {
        background-color: inherit;
        min-height: 70px;
        display: flex;
        color: white;
        width: 1140px;
        margin: auto auto;
        .connect {
           padding-right: 80px;
           background-color: inherit;
           border-right: 1px solid #5b8bdf;
           display: flex;
           align-items: center;
           font-size: 30px;
           font-weight: 500;
        }
        .media {
           background-color: inherit;
           display: flex;
           justify-content: center;
           align-items: center;
           &:hover {
               opacity: 0.8;
               cursor: pointer;
           }
           img {
               background-color: inherit;
               padding-left: 60px;
               padding-right: 40px;
           }
           .social-media {
               background-color: inherit;
               line-height: 25px;
               .name {
                   background-color: inherit;
                   text-transform: uppercase;
                   font-size: 14px;
                   font-weight: 600;
               }
               .follow {
                   background-color: inherit;
                   font-size: 22px;
                   font-weight: 600;
               }
           }
        }
    }
}

.third-section {
    padding-right: 120px;
    padding-left: 120px;
    height: 610px;
    background: $baby-blue url(../img/who-we-are/2.png) no-repeat;
    background-position: 0 15.4%;
    .texts {
        background: transparent;
        min-height: 360px;
        width: 500px;
        color: white;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        padding-top: 125px;
        .t1 {
            font-size: 40px;
            font-weight: 300;
        }
        .t2 {
            font-size: 25px;
            font-weight: 500;
        }
        .t3 {
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
        }
    }
  
}


.fourth-section {
    background-color: #0a1b3b;
    min-height: 170px;
    .content {
        padding-top: 50px;
        width: 1040px;
        margin: auto auto;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .big-bar-text {
            background-color: transparent;
            color: #fff;
            text-align: center;
            .big-text {
                background-color: transparent;
                font-size: 60px;
                font-weight: 500;
                padding-bottom: 10px;
                font-family: 'Open Sans', sans-serif;
            }
            .small-text {
                background-color: transparent;
                font-size: 20px;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}

.green-bar-divider {
    .top {
        height: 55px;
        width: 100%;
        background-color: #0a1b3b;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: white;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}

@mixin texts-in-boxes {
    .texts {
        padding-left: 40%;
        padding-top: 60px;
        padding-right: 10%;
        background: transparent;
        .texts-1 {
            background: transparent;
            font-weight: 400;
            font-size: 20px;
            letter-spacing: 1px;
            padding-bottom: 15px;
        }
        .texts-2 {
            background: transparent;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 25px;
            font-weight: 300;
        }
    }
}

.experts {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    //height: 865px;
    width: 1140px;
    font-size: 40px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 125px;
    .boxes {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 40px;
        .expert-box {
            min-height: 460px;
            width: 31.58%;
            position: relative;
            .yellow {
                height: 80px;
                width: 75%;
                position: absolute;
                top: 170px;
                background-color: #ffce06;
                color: white;
                text-align: start;
                padding-left: 10px;
                .name {
                    font-size: 25px;
                    font-weight: 500;
                    padding-top: 10px;
                    padding-bottom: 3px;
                }
                .position {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
            img {
                height: 270px;
                width: 100%;
            }
            .description {
                font-size: 17px;
                font-weight: 500;
                padding: 20px 0 0 0;
                line-height: 35px;
                opacity: 0.5;
            }
            .meet {
                display: block;
                margin-left: auto;
                margin-right: auto;
                a {
                    font-size: 15px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $lighter-blue;
                }
                img {
                    
                    height: 15px;
                    width: 15px;
                }
                &:hover {
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 270px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        color: $lighter-blue;
        border-radius: 50px;
        border: 2px solid $lighter-blue;
        margin-left: auto;
        margin-right: auto;
        img {
            padding-left: 20px;
        }
        &:hover {
            opacity: 0.6;
            cursor: pointer;
        }
    }
}





@mixin three-pix {
      display: flex;
      justify-content: space-between;
    .three-photos {
        width: 31.5%;
        height: 413px;
        border: 3px solid transparent;
        &:hover {
            cursor: pointer;
            border: 3px solid #4ca852;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
        }
        .image-container {
            height: 210px;
            border-right: 1px solid #E0E1E2;
            border-top: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 55%;
                width: auto;
            }
        }
        
        .text-under-image {
            
            padding: 0 30px 44px 30px;
            border-right: 1px solid #E0E1E2;
            border-bottom: 1px solid #E0E1E2;
            border-left: 1px solid #E0E1E2;
            .tui-subject {
                padding-top: 10px;
                font-size: 22px;
                font-weight: 500;
            }
            .tui-bread {
                margin-top: 30px;
                opacity: 0.6;
                line-height: 30px;
                font-size: 17px;
                font-weight: 400;
            }
            
        }
    }
}

#section-5 {
    min-height: 530px;
    background-color: #f9fafb;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding-top: 150px;
    .three-images {
        width: 1140px;
        padding-top: 70px;
        padding-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        @include three-pix();
    }
   
}

.green-bar-divider-2 {
    .top {
        height: 55px;
        width: 100%;
        background-color: #f9fafb;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
    .bottom {
        height: 55px;
        width: 100%;
        background-color: #f9fafb;
        .bar {
            background-color: inherit;
            height: 100%;
            width: 50%;
            border-right: 1px solid $green;
        }
    }
}

.why {
    
    height: 650px;
    padding-bottom: 150px;
    position: relative;
    background-color: #f9fafb;
    .left-arrow {
        position: absolute;
        right: 55px;
        top: 440px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    .right-arrow {
        position: absolute;
        left: 55px;
        top: 440px;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .content {
        width: 1140px;
        margin-left: auto;
        margin-right: auto;
        .head {
            background-color: inherit;
            text-align: center;
            font-size: 35px;
            font-weight: 300;
            padding-top: 130px;
            padding-bottom: 80px;
        }
        .info {
            background-color: inherit;
            min-height: 415px;
            position: relative;

            .image {
                position: absolute;
                height: 445px;
                img {
                    height: 100%;
                }
            }
            .image-mobile {display: none}
            .yellow-and-button {
                
                position: absolute;
                right: 0;
                top: 40px;
                width: 750px;
                background-color: transparent;
                
                .yellow {
                    background: #ffce06 url(../img/service-v2/8.png) no-repeat 6% 20%;
                    color: white; 
                    letter-spacing: 1px;
                    .text {
                        background: transparent;
                        padding: 34px 40px 0 130px;
                        font-style: italic;
                        font-size: 18px;
                        line-height: 30px;
                        
                    }
                    .text-mobile {display: none}
                    .border {
                        border-bottom: 1px solid #e3be43;
                        margin: 20px 0 15px 130px;
                        width: 136px;
                    }
                    .name {
                        background: transparent;
                        padding: 0 40px 30px 130px;
                        font-weight: 600;
                        font-size: 17px;
                        line-height: 30px;
                        text-transform: uppercase;
                    }
                }
                .button {
                    float: right;
                    height: 60px;
                    width: 300px;
                    background-color: $lighter-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //position: absolute;
                    right: $pad-side;
                    //margin-top: 319px;
                    font-size: 18px;
                    
                    color: white;
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@import 'footer';

@media (max-width: 1140px) {
    @import 'header-mobile';

    .first-section {
        min-height: 500px;
        background: black url(../img/who-we-are/1-mobile.png) no-repeat 0 0;
        background-position: center;
        .text-1 {
            width: 590px;
            font-size: 45px;
        }
        .text-2 {
            font-size: 45px;
            font-weight: 900;
        }
    }

    .second-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        .mobile-text {
            display: inline-block;
            font-size: 30px;
            color: white;
            font-weight: 500;
            padding-top: 50px;
            text-align: center;
        }
        .bar-content {
            min-height: 215px;
            width: 635px;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
            .connect { display: none}
            .media {
                flex-direction: column;
                align-items: flex-start;
                .image {
                    width: 100%;
                    padding-bottom: 15px;
                    img {
                        padding:0;
                    }
                }
                
            }
        }
    }

    .third-section {
        height: 1110px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: $baby-blue;
        .texts {
            padding-top: 90px;
            width: 680px;
            margin: auto auto;
            min-height: 500px;
            display: inline-block;
            .t1 {
                font-size: 45px;
                font-weight: 400;
            }
            .t2 {
                font-size: 28px;
                font-weight: 500;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .t3 {
                font-size: 22px;
                font-weight: 400;
                line-height: 35px;
            }
        }
        .image-background {
            width: 750px;
            height: 530px;
            margin: auto auto;
            background: $baby-blue url(../img/who-we-are/2-mobile.png) no-repeat;
            background-position: center;
        }
    }

    .fourth-section {
        height: 600px;
        display: flex;
        align-items: center;
        .content {
            padding: 0;
            width: 530px;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: 40% 40%;
            grid-row-gap: 110px;
            grid-column-gap: 110px;
            .big-bar-text {
                .big-text {
                    font-size: 60px;
                    padding: 0;
                }
                .small-text {
                    font-size: 20px;
                }
            }
        }
    }

    .experts {
        width: 680px;
        margin-bottom: 70px;
        margin-top: 60px;
        font-size: 45px;
        .boxes {
            flex-direction: column;
            padding-bottom: 0px;
            .expert-box {
                width: 100%;
                //min-height: 700px;
                .yellow { 
                    top: 300px;
                    height: 150px;
                    padding-left: 20px;
                    width: 500px;
                    .name {
                        font-size: 45px;
                        font-weight: 500;
                        padding-top: 20px;
                        padding-bottom: 3px;
                    }
                    .position {
                        font-size: 30px;
                        font-weight: 500;
                    }
                }
                img {
                    height: 500px;
                    width: 100%;
                }
                .description {
                    font-size: 20px;
                    font-weight: 500;
                    padding: 50px 0 0 0;
                    line-height: 35px;
                    opacity: 0.5;
                }
                .meet {
                    display: inline-block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                    margin-bottom: 50px;
                    a {
                        font-size: 20px;
                        font-weight: 700;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $lighter-blue;
                    }
                    img {
                        height: 15px;
                        width: 15px;
                    }
                    &:hover {
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
            }
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 320px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: $lighter-blue;
            border-radius: 50px;
            border: 2px solid $lighter-blue;
            margin-left: auto;
            margin-right: auto;
            img {
                padding-left: 20px;
            }
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }

    #section-5 {
        min-height: 1580px;
        background-color: #f9fafb;
        text-align: center;
        font-size: 45px;
        font-weight: 300;
        padding-top: 100px;
        .three-images {
            width: 750px;
            height: 1400px;
            padding-top: 70px;
            padding-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .three-photos {
                width: 680px;
                height: 415px;
                .image-container {
                }
                .text-under-image {
                    padding: 0;
                    height: 203px;
                    .tui-subject {
                        padding-top: 0px;
                        font-size: 30px;
                        font-weight: 600;
                    }
                    .tui-bread {
                        opacity: 0.5;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
            }
        }
       
    }

    .green-bar-divider-2 {
        .top {
            height: 55px;
            width: 100%;
            background-color: #f9fafb;
            .bar {
                background-color: inherit;
                height: 100%;
                width: 50%;
                border-right: 1px solid $green;
            }
        }
        .bottom {
            height: 55px;
            width: 100%;
            background-color: white;
            .bar {
                background-color: inherit;
                height: 100%;
                width: 50%;
                border-right: 1px solid $green;
            }
        }
    }

    .why {
        height: 860px;
        padding-bottom: 0px;
        background-color: white;
        .content {
            width: 545px;
            .head {
                background-color: inherit;
                text-align: center;
                font-size: 45px;
                font-weight: 300;
                padding-top: 50px;
                padding-bottom: 70px;
            }
            .info {
                position: relative;
                .image {display: none}
                .image-mobile {
                    display: inline;
                    position: absolute;
                    height: 415px;
                    img {
                        width: 100%;
                    }
                }
                .yellow-and-button {
                    margin: 0;
                    right: 3px;
                    top: 215px;
                    width: 430px;
                    .yellow {
                        background: #ffce06 url(../img/service-v2/8-mobile.png) no-repeat 4% 17%;
                        .text {display: none}
                        .text-mobile {
                            display: inline-block;
                            background: transparent;
                            padding: 30px 10px 20px 90px;
                            font-style: italic;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 25px;
                 
                        }
                        .border {
                            margin: 20px 0 0px 90px;
                            width: 100px;
                        }
                        .name {
                            padding: 10px 20px 40px 90px;
                            font-weight: 600;
                            font-size: 22px;
                            line-height: 22px;
                            text-transform: uppercase;
                        }
                    }
                    .button {
                        font-size: 22px;
                        font-weight: 500;
                        height: 80px;
                        width: 310px;
                    }
                }
            }
        }
    }
    @import 'footer-mobile';
}